<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="description" content="Anywires" />
		<meta name="keywords" content="Anywires" />
		<meta name="author" content="Anywires" />
        <link rel="shortcut icon" href="./img/AnyWiresFavicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/create-merchant.css">
		<link rel="stylesheet" href="css/newMenu.css">
		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
		<script src="https://kit.fontawesome.com/5355902e87.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

		<!-- ColorPicker -->
		<script src="js/jscolor.js"></script>
		
	</head>
	<body>
		<span class="curentUserId hide"><%= currentUser.id %></span>
		<div id="burgerMenu">
			<div class="menu">
				<div class="menu__burger">
					<img class="menu__burger-close" src="img/menu/close.png" alt="list image">
					<div class="menu__burger-symbols">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
		
				<ul class="menu__list">
					<a class="menu__list-link" href="dashBoardMainPage.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/1-Dashboard.png" alt="list image">
							<span class="menu__list-text">Dashboard</span>
						</li>
					</a>
					<a class="menu__list-link" href="InvoiceGeneration.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/2-Invoice.png" alt="list image">
							<span class="menu__list-text">Invoice generation</span>
						</li>
					</a>
					<a class="menu__list-link" href="invoice-list.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/3-Invoices.png" alt="list image">
							<span class="menu__list-text">Invoice List</span>
						</li>
					</a>
					<a class="menu__list-link" href="wallets">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/4-Wallet.png" alt="list image">
							<span class="menu__list-text">Wallets</span>
						</li>
					</a>
					<a class="menu__list-link" href="settlements.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/5-Settlement.png" alt="list image">
							<span class="menu__list-text">Settlemets</span>
						</li>
					</a>
					<a class="menu__list-link" href="merchants.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/6-Merchants.png" alt="list image">
							<span class="menu__list-text">Merchants</span>
						</li>
					</a>
					<a class="menu__list-link" href="users.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/7-Users.png" alt="list image">
							<span class="menu__list-text">Users</span>
						</li>
					</a>
					<a class="menu__list-link" href="banks.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/8-Bank.png" alt="list image">
							<span class="menu__list-text">Banks</span>
						</li>
					</a>
					<li class="menu__list-item menu__reports">
						<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
						<span class="menu__list-text">Reports</span>
					</li>
					<div class="menu__list-item-reports">
						<a class="menu__list-link" href="invoice-report.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Invoices report</span>
							</li>
						</a>
						<a class="menu__list-link" href="settlementReport.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Settlements report</span>
							</li>
						</a>
						<a class="menu__list-link" href="affiliateReport.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Affiliates report</span>
							</li>
						</a>
						<a class="menu__list-link" href="commission-report">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Commission report</span>
							</li>
						</a>
						<a class="menu__list-link" href="merchant-report">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Merchant report</span>
							</li>
						</a>
					</div>
					<a class="menu__list-link" href="Dashboard-how-it-works.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/10-How-it-works.png" alt="list image">
							<span class="menu__list-text">How it works</span>
						</li>
					</a>
				</ul>
			</div>
	
			<div class="authorizationMenu">
				<span> 
					<span class="userName"> <%= currentUser.fullname %></span>
					<span class="userLogo"><i class="far fa-user-circle"></i></span>
				</span>
				<ul class="dropMenu">
					<li class="profile">
						<span class="liLogo"><i class="fas fa-user-alt"></i></span>
						<a href="personal-area.html">Profile</a>
					</li>
					<li class="merchant">
						<span class="liLogo"><i class="fab fa-chromecast"></i></span>
						<a href="merchants.html">Merchant</a>
					</li>
					<li class="logOut">
						<span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
						<a href="/logout/<%= currentUser.id %>">LogOut</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- Loading GIF -->
		<div id="loadingGif">
			<img src="img/Gear-2.5s-200px.gif" alt="loading GIF"/>
			<div>Loading...</div>
		</div>
		<!-- Loading GIF -->

		<div id="wrapper">

			<!--Header Page-->
			<header> 
				<div class="header__title">
					<img src="./img/bank.png" alt="icon page" width="40px" height="40px"/>
					<h1 class="main_title"></h1>
				</div>
			</header>
			
			<!--Main Page-->
			<main>
                <h2>Merchant Info</h2>
                <div class="modal_addMerch">
                        <div class="containerModal">
                            <div class="firstModal-block">
                                <div class="modal_item">
                                    <label for="merchName">Merchant name:</label>
                                    <input id="merchName" class="required" type="text" placeholder="Merchant name">
                                </div>
            
                                <div class="modal_item">
                                    <label for="promoCode">Promo code:</label>
                                    <input id="promoCode" class="required" type="text" placeholder="Promo code">
                                </div>
            
                                <div class="modal_item">
                                    <label for="affiliate">Affiliate:</label>
                                    <select id="affiliate" >
										<option value="" selected></option>
									</select>
                                </div>
            
                                <div class="modal_item">
                                    <label for="merchEmail">Merchant email:</label>
                                    <input id="merchEmail" class="required" type="text" placeholder="Merchant email">
                                </div>
            
                                <div class="modal_item">
                                    <label for="tagline">Tagline:</label>
                                    <input id="tagline" type="text" placeholder="Tagline">
                                </div>
            
                                
                            </div>
            
                            <!-- Second-modal block  -->
                            <div class="secondModal-block">

								<div class="modal_item">
									<label for="backColor">Background color:</label>
									<input id="backColor" class="secondModal-input jscolor" type="text" value="fff">
								</div>
            
                                <div class="modal_item">
                                    <label for="firstColor">First color:</label>
                                    <input id="firstColor" class="secondModal-input jscolor" type="text" value="fff">
                                </div>
            
                                <div class="modal_item">
                                    <label for="secondColor">Second color:</label>
                                    <input id="secondColor" class="secondModal-input jscolor" type="text" value="fff">
                                </div>
            
                                <div class="modal_item">
                                    <label for="b2b">B2B:</label>
                                    <input id="b2b" type="checkbox" class="b2bcheckbox ">
                                </div>
            
                                <div class="upload_block">
                                    <div id="uploadLogo_btn">
                                        Upload Logo
                                        <input id="logo" type="file" name="file" accept="image/x-png,image/jpeg">
                                    </div>
                                </div>
                            </div>
            
                        </div>
                        <!-- b2b block true -->
                        <div class="b2b_true_block">
                            <div class="firstModal-block">
                                <div class="modal_item">
                                    <label for="merchName">Bank address:</label>
                                    <input id="bankAddress" type="text" placeholder="Bank address">
                                </div>
            
                                <div class="modal_item">
                                    <label for="promoCode">IBAN:</label>
                                    <input id="IBAN" type="text" placeholder="IBAN">
                                </div>
            
                                <div class="modal_item">
                                    <label for="affiliate">SWIFT:</label>
                                    <input id="SWIFT" type="text" placeholder="SWIFT">
                                </div>
                            </div>
            
                            <!-- Second-modal block  -->
                            <div class="secondModal-block">

                                <div class="modal_item">
                                    <label for="backColor">Beneficiary name:</label>
                                    <input id="benefName" class="secondModal-input" type="text" placeholder="Beneficiary name">
                                </div>
            
                                <div class="modal_item">
                                    <label for="firstColor">Beneficiary address:</label>
                                    <input id="benefAddress" class="secondModal-input" type="text" placeholder="Beneficiary address">
                                </div>
            
                                <div class="modal_item">
                                    <label for="secondColor">Bank name:</label>
                                    <input id="bankName" class="secondModal-input" type="text" placeholder="Bank name">
                                </div>
                            </div>
                        </div>
						<!-- b2b end -->
						
						<!-- Banks List -->
						<div class="filter_select"></div>
						<div class="bankList-block">
							<label for="bankList-block">Available banks:</label>
							<div class="autocomplete-select">
								<div class="multi-select__select multi-select__select--multiple">
									<span class="multi-select__label"></span>
									<div class="multi-select__options"
										><input class="multi-select__autocomplete" type="text" /> 
									</div>
								</div>
							</div>
						</div>

						<div class="bankList__buttons--block">
							<button id="bankList__buttons--active">Active</button>
							<button id="bankList__buttons--select-all">Select All</button>
							<button id="bankList__buttons--remove-all">Remove All</button>
						</div>
						<!-- Banks List end -->

					</div>
					
					<h2>Commissions</h2>
					<div class="comm_wrapper">
						<div class="comm_block">
							<h3 class="comm_title">General fees</h3>
							
							<div class="comm_item">
								<label for="comm_inputs">In C2B:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required percent" id="in_c2b_per" type="number" placeholder="Percent">
									<input class="required" id="in_c2b_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item border_bottom">
								<label for="comm_item">In B2B:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="in_b2b_per" type="number" placeholder="Percent">
									<input class="required" id="in_b2b_flat" type="number" placeholder="Flat">
								</div>
							</div>
						</div>

						<!-- Second Block -->
						<div class="comm_block">
							<h3 class="comm_title">Account fees</h3>
							
							<div class="comm_item">
								<label for="comm_item">Fee Account Setup:</label>
								<div class="comm_inputs">
									<input class="required" id="feeAccSetup_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Fee Account Monthly:</label>
								<div class="comm_inputs">
									<input class="required" id="feeAccMonthly_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Fee Account Additional:</label>
								<div class="comm_inputs">
									<input class="required" id="feeAccAdd_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item border_bottom">
								<label for="comm_item">Fee Account Dedicated:</label>
								<div class="comm_inputs">
									<input class="required" id="feeAccDed_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
						</div>
					</div>

					<!-- Second Block Fees  -->
					<div class="comm_wrapperNext">
						<div class="comm_block">
							<h3 class="comm_title">Fine attitude fees</h3>
							
							<div class="comm_item">
								<label for="comm_item">Fine Recall:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="fineRecall_per" type="number" placeholder="Percent">
									<input class="required" id="fineRecall_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Fine Attitude Incorrect Payment Purpose:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="fineAttIncPp_per" type="number" placeholder="Percent">
									<input class="required" id="fineAttIncPp_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Fine Attitude Wrong Amount:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="fineAttWrongAm_per" type="number" placeholder="Percent">
									<input class="required" id="fineAttWrongAm_flat" type="number" placeholder="Flat">
								</div>
							</div>

							
							<div class="comm_item">
								<label for="comm_item">Fine Attitude More then 1 payment:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="fineAttMoreThen1Pay_per" type="number" placeholder="Percent">
									<input class="required" id="fineAttMoreThen1Pay_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Fine Attitude Payment without invoice:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="fineAttPayWithInv_per" type="number" placeholder="Percent">
									<input class="required" id="fineAttPayWithInv_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Fine Attitude Payment from Blocked:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="fineAttPayFromBlo_per" type="number" placeholder="Percent">
									<input class="required" id="fineAttPayFromBlo_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item border_bottom">
								<label for="comm_item">Fine Attitude More then 1% recalls:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="fineAttMoreThen1perRecalls_per" type="number" placeholder="Percent">
									<input class="required" id="fineAttMoreThen1perRecalls_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
						</div>

						<!-- Second Block -->
						<div class="comm_block">
							<h3 class="comm_title">Settlements fees</h3>
							
							<div class="comm_item">
								<label for="comm_item">Settlement BTC:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="settBTC_per" type="number" placeholder="Percent">
									<input class="required" id="settBTC_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Settlement ATM:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="settATM_per" type="number" placeholder="Percent">
									<input class="required" id="settATM_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Settlement C2B Wire:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="settC2Bwire_per" type="number" placeholder="Percent">
									<input class="required" id="settC2Bwire_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Settlement B2B Wire:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="settB2Bwire_per" type="number" placeholder="Percent">
									<input class="required" id="settB2Bwire_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Settlement Recall:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="settRecall_per" type="number" placeholder="Percent">
									<input class="required" id="settRecall_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item">
								<label for="comm_item">Settlement Refund:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="settRefund_per" type="number" placeholder="Percent">
									<input class="required" id="settRefund_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
							<div class="comm_item border_bottom">
								<label for="comm_item">Settlement B2C:</label>
								<div class="comm_inputs">
									<span id="symPercent">%</span><input class="required" id="settB2C_per" type="number" placeholder="Percent">
									<input class="required" id="settB2C_flat" type="number" placeholder="Flat">
								</div>
							</div>
							
						</div>
					</div>
					<button id="create_merch">Create</button>
			</main>
		</div>
			
		<!-- Alert Window -->
		<div class="alert_filter">
			<div class="alert_wrapper bounceIn">
				<div class="alert_head">
					<img id="alert_image" src="../img/alert_img.png" alt="Alert image">
				</div>
				<div class="alert_body">
					<h2>Oops...</h2>
					<p id="alert_body_text">You can't do that!</p>
				</div>
				<div class="alert_footer">
					<button id="alert_button">OK</button>
				</div>
			</div>
		</div>

		<script src="js/create-merchant.js"></script>
		<script src="js/authorizationMenu.js"></script>
		<script src="js/newMenu.js"></script>
	</body>
</html>