<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Anywires" />
    <meta name="keywords" content="Anywires" />
    <meta name="author" content="Anywires" />
    <title>Dashboard</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/dashBoardMainPage.css">
    <link rel="stylesheet" href="css/authorizationMenu.css">
    <script src="https://kit.fontawesome.com/5355902e87.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/menu.css" />
    <link rel="stylesheet" type="text/css" href="css/menu-comp.css" />
    <script src="js/modernizr.custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
</head>

<body>
    <% if (currentUser.role == 'Invoice Manager') { %>
        <header>
                <div class="menu">
                        <ul id="gn-menu" class="gn-menu-main">
                            <li class="gn-trigger">
                                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                                <nav class="gn-menu-wrapper">
                                    <div class="gn-scroller">
                                        <ul class="gn-menu">
												<li><a href="dashBoardMainPage.html"><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
												<li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
												<li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </li>
                        </ul>
                    </div>
                <div class="authorizationMenu">
                    <span> 
                        <span class="userName"> <%= currentUser.fullname %></span>
                        <span class="userLogo"><i class="far fa-user-circle"></i></span>
                    </span>
                    <ul class="dropMenu">
                        <li class="profile">
                            <span class="liLogo"><i class="fas fa-user-alt"></i></span>
                            <a href="personal-area.html">Profile</a>
                        </li>
                        <li class="merchant">
                            <span class="liLogo"><i class="fab fa-chromecast"></i></span>
                            <a href="merchants.html">Merchant</a>
                        </li>
                        <li class="logOut">
                            <span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
                            <a href="/logout">LogOut</a>
                        </li>
                    </ul>
                </div>
            </header>
    <% } else { %>
    <header>
        <div class="menu">
                <ul id="gn-menu" class="gn-menu-main">
                    <li class="gn-trigger">
                        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                        <nav class="gn-menu-wrapper">
                            <div class="gn-scroller">
                                <ul class="gn-menu">
                                    <li><a href="dashBoardMainPage.html"><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
                                    <li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
                                    <li><a href="invoice-list.html"><img class="icon" src="fonts/icons/invoice-list.png">Invoice list</a></li>
                                    <li><a href="wallets"><img class="icon" src="fonts/icons/wallet.png">Wallets</a></li>
                                    <li><a href="settlements.html"><img class="icon" src="fonts/icons/settlement.png">Settlements</a></li>
                                    <li><a href="merchants.html"><img class="icon" src="fonts/icons/merchant.png">Merchants</a></li>
                                    <li><a href='users.html'><img class="icon" src="fonts/icons/users.png">Users</a></li>
                                    <li><a href='banks.html'><img class="icon" src="fonts/icons/bank.png">Banks</a></li>
                                    <li id="reports"><a><img class="icon" src="fonts/icons/invoice-report.png">Reports</a></li>
                                    <ul class="gn-submenu" id="allReports">
										<li><a href="invoice-report.html"><img class="icon" src="fonts/icons/aff-report.png">Invoices report</a></li>
                                        <li><a href="merchantReport.html"><img class="icon" src="fonts/icons/aff-report.png">Merchants report</a></li>
                                        <li><a href="settlementReport.html"><img class="icon" src="fonts/icons/aff-report.png">Settlements report</a></li>
                                        <li><a href="affiliateReport.html"><img class="icon" src="fonts/icons/aff-report.png">Affiliates report</a></li>
                                        <li><a href="commission-report"><img class="icon" src="fonts/icons/aff-report.png">Commission report</a></li>
                                        <li><a href="merchant-report"><img class="icon" src="fonts/icons/aff-report.png">Merchant report</a></li>
									</ul>
                                    <li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </li>
                </ul>
            </div>
        <div class="authorizationMenu">
            <span> 
                <span class="userName"> <%= currentUser.fullname %></span>
                <span class="userLogo"><i class="far fa-user-circle"></i></span>
            </span>
            <ul class="dropMenu">
                <li class="profile">
                    <span class="liLogo"><i class="fas fa-user-alt"></i></span>
                    <a href="personal-area.html">Profile</a>
                </li>
                <li class="merchant">
                    <span class="liLogo"><i class="fab fa-chromecast"></i></span>
                    <a href="merchants.html">Merchant</a>
                </li>
                <li class="logOut">
                    <span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
                    <a href="/logout">LogOut</a>
                </li>
            </ul>
        </div>
    </header>
    <% } %>
    <main>
        
        <div class="choosePeriod">
            <h1 class="mainTitle"><span class="dashboardLogo"><i class="fas fa-cogs"></i></span>Dashboard</h1> 
            <div class="rightSideBoard">
                <% if (currentUser.typeClass == 'admin') { %>
                    <h4 class="merchantName">Select period</h4>
                    <ul class="merchantSelec">
                            <li class="merchant1"></li>
                            <li class="merchant2" ></li>
                    </ul>
                <% } else { %>

                <% } %>
                <h3 class="periodTitle">Today<i class="fas fa-sort-down"></i></h3>
                <ul class="period">
                    <li class="today">Today</li>
                    <li class="week" >Week</li>
                    <li class="month" >Month</li>
                    <li class="allTime" >All Time</li>
                </ul>
            </div>
           
        </div>
        <div class="headerBlock">
            <div class="sentBox">
                <div class="titleBlock">
                    <h2 class="boxTitle">Sent</h2>
                    <span class="contentBoxImg"><i class="fas fa-share-square"></i></span>
                </div>
               <div class="contentBox">
                    <div class="amounts">
                        <span class="dollarAmount sentUSD"><i class="fas fa-dollar-sign"></i></span>
                        <span class="euroAmount sentEUR"><i class="fas fa-euro-sign"></i></span>
                    </div>
               </div>
            </div>
            <div class="receivedBox">
                <div class="titleBlock">
                    <h2 class="boxTitle">Received</h2>
                    <span class="contentBoxImg"><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <div class="contentBox">
                    <div class="amounts">
                        <span class="dollarAmount receivedUSD"><i class="fas fa-dollar-sign"></i></span>
                        <span class="euroAmount receivedEUR"><i class="fas fa-euro-sign"></i></span>
                    </div>
                </div>
            </div>
            <div class="approvedBox">
                <div class="titleBlock">
                    <h2 class="boxTitle">Approved</h2>
                    <span class="contentBoxImg"><i class="far fa-thumbs-up"></i></span>
                </div>
                <div class="contentBox">
                    <div class="amounts">
                        <span class="dollarAmount approvedUSD"><i class="fas fa-dollar-sign"></i></span>
                        <span class="euroAmount approvedEUR"><i class="fas fa-euro-sign"></i></span>
                    </div>
                </div>
            </div>
            <div class="settledBox">
                <div class="titleBlock">
                    <h2 class="boxTitle">Settled</h2>
                    <span class="contentBoxImg"><i class="fas fa-clipboard-check"></i></span>
                </div>
                <div class="contentBox">
                    <div class="amounts">
                        <span class="dollarAmount settledUSD"><i class="fas fa-dollar-sign"></i></span>
                        <span class="euroAmount settledEUR"><i class="fas fa-euro-sign"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <% if (currentUser.typeClass == 'admin') { %>
            <div class="boxInfoAdmin">
                <div class="invoiceInfo">
                    <h2 class="infoTitle">Invoice - Received</h2>
                    <div class="contentBox">
                        <span class="invoiceImg"><i class="fas fa-file-invoice-dollar"></i></span>
                        <div class="transactionInfo">
                            <span class="transactions">Transactions: <span class="transactionsNumber"></span></span>
                            <span class="transactionsPerDay">Transactions per day: <span class="transactionsPerDayNumber"></span></span>
                            <span class="avgTransaction">Avg. transaction: <span class="avgTransactionUSD"></span></span>
                            <span class="avgTransaction">Avg. transaction: <span class="avgTransactionEUR"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="boxInfo">
                <div class="invoiceInfo">
                    <h2 class="infoTitle">Invoice - Received</h2>
                    <div class="contentBox">
                        <span class="invoiceImg"><i class="fas fa-file-invoice-dollar"></i></span>
                        <div class="transactionInfo">
                            <span class="transactions">Transactions: <span class="transactionsNumber"></span></span>
                            <span class="transactionsPerDay">Transactions per day: <span class="transactionsPerDayNumber"></span></span>
                            <span class="avgTransaction">Avg. transaction: <span class="avgTransactionUSD"></span></span>
                            <span class="avgTransaction">Avg. transaction: <span class="avgTransactionEUR"></span></span>
                        </div>
                    </div>
                </div>
                <div class="walletBalance">
                    <h2 class="infoTitle">Wallets Balance</h2>
                    <div class="contentBox">
                        <span class="walletImg"><i class="fas fa-wallet"></i></i></span>
                        <div class="walletInfo">
                            
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
       
        <div class="chartBox">
            <div class="chartContainer">
                <button class="chartBoxBtn sentChartBtn selectedBtn"><span>Sent report</span></button>
                <button class="chartBoxBtn receivedChartBtn">Received report</button>
                <button class="chartBoxBtn approvedChartBtn">Approved report</button>
                <button class="chartBoxBtn settledChartBtn">Settled report</button>
                <hr class="horizontalLine">
                <canvas id="dashboardChart"></canvas>
            </div>
        </div>
    </main>
    <script src="js/dashBoardMainPage.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/gnmenu.js"></script>
    <script>
        new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>
    <script type="text/javascript" src="js/authorizationMenu.js"></script>
    <script src="js/menu.js"></script>
</body>
</html>