<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anywires</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/5355902e87.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
</head>
<body>
    
   <!-- Modal Action Window -->
        <% if(error && error.length > 0) {%>
            <div class="alert" role="alert">
                <div class="alertContent">
                    <h3>  <%= error %> </h3>
                </div>
            </div>
        <% } %>
        <% if(success && success.length > 0) {%>
            <div class="alert" role="alert">
                <div class="alertContent">
                    <h3>  <%= success %> </h3>
                </div>
            </div>
        <% } %>

    <!-- Modal windows -->
    <!-- Merchant Login Window -->
    <div class="loginWindow">
        <div class="loginWindow-dialog">
            <div class="loginWindow-content">
                <h1 class="loginWindow-header">Log in to CRM</h1>
                <div class="main-form loginWindow-form">
                    <form  action="/login" class="loginWindow-form" method="POST">
                        <input type="text" name="username" class="mailLogin" placeholder="Email"><br>
                        <input type="password" name="password" class="passwordLogin" placeholder="Password">
                        </div checkboxlas>
                        <div class="logintSection">
                            <div><input type="checkbox" name="remember"> Remember me</div>
                            <span class="forgotBtn">Forgot password?</span>
                        </div>
                        <input type="submit" class="loginBtn" value="Log In">
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Password Window -->
    <div class="forgotPassword">
        <div class="forgotPassword-dialog">
            <div class="forgotPassword-content">
                <button class="forgotPassword-close">&times;</button>
                <h1 class="forgotPassword-header">Reset Password</h1>
                <div class="main-form forgotPassword-form">
                    <form  action="/forgot" class="forgotPassword-form" method="POST">
                        <p class="forgotPasswordHint">Enter the email address associated
                                with your account, and we'll email you a link to reset
                                 your password.</p>
                        <input type="text" name='email' class="mailLogin" placeholder="Email"><br>
                        <input type="submit" class="sendResetLink" value='Send Reset Link'>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <script src="js/modalWindow.js"></script>
</body>
</html>