<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/invoicePreviewBankVersion.css">
    <title>Invoice Preview</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
        <button class="downloadPDFbtn" onclick="SaveAsPdf()">Download PDF</button>
    <div id="wrapper">
        <div id="HTMLtoPDF">
        <header>
            <div class="block-logo">
                <div class="bank-logo-block">
                    <img class="bank-logo" src="<%= bankLogo %>" alt="bank-logo">
                </div>
                <div class="invoice-info">
                    <h1>Invoice</h1>
                    <p>Invoice date: <span id="invoiceDate"><%= invoiceDate.getDate() + '/' + ( invoiceDate.getMonth()+ 1) + '/' +  invoiceDate.getFullYear(); %></span></p>
                    <p>Invoice num: <span id="invoiceNumber"><%= invoiceNumber %>/<%= invoiceDate.getFullYear() %></span></p>
                </div>
            </div>

            <div class="invoice-fromFor-block">
                <div class="invoice-for-block">
                    <p><b>Invoice for:</b></p>
                    <p>Client: <span id="clientName"><%= invClientName %></span></p>
                    <p>Email: <span id="clientEmail"><%= invClientEmail %></span></p>
                    <p>Phone: <span id="clientPhone"><%= invClientPhone %></span></p>
                    <p>Address: <span id="clientAddress"><%= invClientAdress %></span></p>
                    <p>Passport No: <span id="clientID"><%= invClientID %></span></p>
                </div>
            </div>
        </header>
        <main>

            <table id="tableId">
                <thead>
                  <tr>
                    <th scope="col" class="col1 forBack">Item description</th>
                    <th scope="col" class="forBack">Quantity</th>
                    <th scope="col" class="col2 forBack">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-label="Item description" class="col1">Payment for
                         <% if (invAmount >= 250 && invAmount <= 1000) { %><span class="paymentClass">View</span>
                         <% } else  if (invAmount > 1000 && invAmount <= 5000) { %><span class="paymentClass">Basic</span>
                         <% } else  if (invAmount > 5000 && invAmount <= 10000) { %><span class="paymentClass">Basic PLUS</span>
                         <% } else  if (invAmount > 10000 && invAmount <= 15000) { %><span class="paymentClass">Silver</span>
                         <% } else  if (invAmount > 15000 && invAmount <= 25000) { %><span class="paymentClass">Gold</span>
                         <% } else  if (invAmount > 25000 && invAmount <= 80000) { %><span class="paymentClass">Platinum</span> <% } %>
                            educational package - <span class="bankSite"><%= bankSite %></span></td>
                    <td data-label="Quantity">1</td>
                    <td data-label="Total" class="table-total col2"><span id="totalSum"><%= invAmount %></span> <span class="currency"><%= invoiceCurrency %></span></td>
                  </tr>
                  <tr>
                    <td scope="row" data-label="Item description" class="col1">VAT</td>
                    <td data-label="Quantity">1</td>
                    <td data-label="Total" class="table-total col2">0 <span id="currency" class="currency"></span></td>
                  </tr>
                </tbody>
              </table>

            <div class="line-under-table"></div>

            <div class="final-sum">
                <h2><span id="totalLarge"><%= invAmount %></span> <span class="currency"><%= invoiceCurrency %></span></h2>
            </div>

            <div class="line-under-sum"></div>

            <div class="invoice-from-block">
                <p><b>Bank Account Details:</b></p>
                <p>Beneficiary name: <span id="benefName"><%= invBankBenefName %></span></p>
                <p>Beneficiary address: <span id="benefAdress"><%= bankBenefAddress %></span></p>
                <p>Bank name: <span id="bankName"><%= bankName %></span></p>
                <p>Bank address: <span id="bankAdress"><%= bankAddress %></span></p>
                <p>IBAN: <span id="IBAN"><% if (invoiceCurrency == 'EUR') { %> <%= bankIBAN_EUR %> <% } else { %> <%= bankIBAN_USD %><% } %></span></p>
                <p>SWIFT: <span id="SWIFT"><%= bankSWIFT %></span></p>
            </div>

            <div class="line-under-sum"></div>

           <div class="notesBox">
                <div class="notes">
                    <p><b>Notes:</b></p>
                    <p>Payment should be done within 96 hour after</p>
                    <p>invoice received.</p>
                    <p>If not, Invoice should be re-generated.</p>
                </div>
                <div class="issue">
                    <span><strong>Issued by:</strong></span>
                </div>
           </div>

        </main>
    </div>
</div>
    <script src="./js/invoicePreviewBankVersion.js"></script>
    <script src="./js/jquery-2.1.3.js"></script>
</body>
</html>