<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Invoice List</title>
		<meta name="description" content="Anywires" />
		<meta name="keywords" content="Anywires" />
		<meta name="author" content="Anywires" />
		<link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/invoice-list.css" />
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
		<link rel="stylesheet" type="text/css" href="css/menu-comp.css" />
		<link rel="stylesheet" type="text/css" href="css/invoice-list-table.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="js/modernizr.custom.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/b1090e9fd1.js"></script>
		<!-- For Calendar Inputs -->
		<link rel="stylesheet" href="./css/datepicker.min.css">
		<script src="./js/datepicker.min.js"></script>
		<script src="./js/datepicker.en.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

		<!-- Wow Animations
		<link rel="stylesheet" href="css/animate.css" />
		<script src="js/wow.min.js"></script>
		<script>new WOW().init();</script> -->

	</head>
	<body class="modal-open">
		<% if(success && success.length > 0) {%>
			<div class="alert" role="alert">
				<div class="alertContent">
					<h3>  <%= success %> </h3>
				</div>
			</div>
		<% } %>
		<div id="burgerMenu">
				<div class="menu">
					<ul id="gn-menu" class="gn-menu-main">
						<li class="gn-trigger">
							<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
							<nav class="gn-menu-wrapper">
								<div class="gn-scroller">
									<ul class="gn-menu">
										<li><a href="dashBoardMainPage.html"><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
										<li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
										<li><a href="invoice-list.html"><img class="icon" src="fonts/icons/invoice-list.png">Invoice list</a></li>
										<li><a href="wallets"><img class="icon" src="fonts/icons/wallet.png">Wallets</a></li>
										<li><a href="settlements.html"><img class="icon" src="fonts/icons/settlement.png">Settlements</a></li>
										<li><a href="merchants.html"><img class="icon" src="fonts/icons/merchant.png">Merchants</a></li>
										<li><a href='users.html'><img class="icon" src="fonts/icons/users.png">Users</a></li>
										<li><a href='banks.html'><img class="icon" src="fonts/icons/bank.png">Banks</a></li>
										<li id="reports"><a><img class="icon" src="fonts/icons/invoice-report.png">Reports</a></li>
										<ul class="gn-submenu" id="allReports">
											<li><a href="invoice-report.html"><img class="icon" src="fonts/icons/aff-report.png">Invoices report</a></li>
											<li><a href="merchantReport.html"><img class="icon" src="fonts/icons/aff-report.png">Merchants report</a></li>
											<li><a href="settlementReport.html"><img class="icon" src="fonts/icons/aff-report.png">Settlements report</a></li>
											<li><a href="affiliateReport.html"><img class="icon" src="fonts/icons/aff-report.png">Affiliates report</a></li>
											<li><a href="commission-report"><img class="icon" src="fonts/icons/aff-report.png">Commission report</a></li>
											<li><a href="merchant-report"><img class="icon" src="fonts/icons/aff-report.png">Merchant report</a></li>
										</ul>
										<li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</nav>
						</li>
					</ul>
		
					<div class="authorizationMenu">
						<span> 
							<span class="userName"> <%= currentUser.fullname %></span>
							<span class="userLogo"><i class="far fa-user-circle"></i></span>
						</span>
						<ul class="dropMenu">
							<li class="profile">
								<span class="liLogo"><i class="fas fa-user-alt"></i></span>
								<a href="personal-area.html">Profile</a>
							</li>
							<li class="merchant">
								<span class="liLogo"><i class="fab fa-chromecast"></i></span>
								<a href="merchants.html">Merchant</a>
							</li>
							<li class="logOut">
								<span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
								<a href="/logout">LogOut</a>
							</li>
						</ul>
					</div>
				</div><!-- /container -->

		<!-- Loading GIF -->
		<div id="loadingGif">
			<img src="img/Gear-2.5s-200px.gif" alt="loading GIF"/>
			<div>Loading...</div>
		</div>
		<!-- Loading GIF -->

		<div id="wrapper">
				<span id="currentUser"><%= currentUser.fullname %></span>
				<span class="curentUserRole"><%= currentUser.role %></span>

			<!--Header Page-->
			<header> 
				<img src="./img/bill.png" alt="icon page"/>
				<h1>Invoice List</h1>
			</header>
			
			<!--Main Page-->
			<main>
				<div id="table-block">

					<div class="filterBlock-first">

						<div class="byCreation-block" >
							<label for="byCreation-block">By creation date:</label>
							<input class="dateForm datepicker-here creationDate" data-multiple-dates-separator="&nbsp;—&nbsp;" 
																	data-range="true"
																	data-language="en"
																	type="text" 
																	placeholder="Sep 1, 2019 — Dec 1, 2019">
						</div>
						<!--initial-->
						<div class="filterStatus-block">
							<label for="filterStatus-block">Status</label>
							<select id="filterStatus" type="text">
									<option value="" selected></option>
									<option value="Requested">Requested</option>
									<option value="Sent">Sent</option>
									<option value="Received">Received</option>
									<option value="Available">Available</option>
									<option value="Approved">Approved</option>
									<option value="Declined">Declined</option>
							</select>
						</div>

						<div class="filterBank-block">
							<label for="filterBank-block">Bank</label>
							<select id="filterBank" type="text">
									<option value="" selected></option>
							</select>
						</div>
						
					</div>

					<div class="filterBlock-second">

						<div class="byReceive-block">
							<label for="byReceive-block">By receive date:</label>
							<input class="dateForm datepicker-here receiveDate" data-multiple-dates-separator="&nbsp;—&nbsp;" 
																	data-range="true"
																	data-language="en"
																	type="text" 
																	placeholder="Sep 1, 2019 — Dec 1, 2019">
						</div>

						<div class="filterMerchant-block">
							<label for="filterMerchant-block">Merchant</label>
							<select id="filterMerchant" type="text">
									<option value="" selected></option>
							</select>
						</div>

						<div class="filterDocuments-block">
							<label for="filterDocuments-block">Documents</label>
							<select id="filterDocuments" type="text">
									<option value="" selected></option>
									<option value="All verified">All verified</option>
									<option value="Pending verification">Pending verification</option>
									<option value="Without documents">Without documents</option>
							</select>
						</div>

					</div>

					<div class="showClear-block">
						<div>
							<button id="showBtn">Show</button>
							<button id="clearFilterBtn">Clear Filters</button>
						</div>
						<div class="searchBlock">
							<input class="input-search" type="search" placeholder="Search..."/>
							<img class="search-btn" src="./img/magnifying-glass.png" alt="Image Search">
						</div>
					</div>

					<div class="downloadXls-block">
						<img title="Download .xls" id="dowloadXls" src="./img/download.png" alt="arrow right table" width="15px" height="15px"/>
					</div>

					<div class="table-line "></div>

					<div class="invoiceTable">
						<table id="table-invoices">
							<thead>
								<tr class="table-head">
									<th class="column1">Created</th>
									<th class="column2">Merchant</th>
									<th class="column3">Name</th>
									<th class="column4">Requested</th>
									<th class="column4">Sent</th>
									<th class="column5">Bank Fee</th>
									<th class="column6">Received</th>
									<th class="column7">Bank</th>
									<th class="column8">Available</th>
									<th class="column9">Payment status</th>
									<th class="column10">Documents</th>
									<th class="column11"></th>
									<th class="column12"></th>
								</tr>
							</thead>
							<tbody id="table-list"></tbody>
						</table>
					</div>

					<div class="nextPage-block"></div>
					<div class="firstPage-block">
						<img id="first-img" src="img/icon_top.png" alt="firstPage">
					</div>
				</div>
			</main>
		</div>

		<!-- Popup window View Invoice -->
		
		<div class="filter">
			<div class="modalView-block">
					
				<div class="invoiceNum-block">
					<div>
						<strong>Invoice #<span id="invoiceNumber"></span></strong>
					</div>
					<div id="invoiceMerchant">Invoice Merchant</div>
				</div>

				<div class="transfer-block">
					<p>Transfer from <span id="clientFullName"></span> for <span id="invoiceCurrency"></span><span id="requestFee"></span> to <span id="invoiceBank"></span> now  is - <span class="currentStatus">Requested</span></p>
					<div class="buttonBlock">
						<div>
							<button id="requested">Requested</button>
							<button id="sent">Sent</button>
							<button id="received">Received</button>
							<button id="approved">Approved</button>
							<button id="available">Available</button>
						</div>
						<div>
							<button id="editBtn">Edit invoice</button>
						</div>
						
					</div>
					<div class="remainder">
						<p class="remainder">Please don't forget to upload: Payment Proof, Client's ID, Client's Utility Bill, Declaration of Payment.</p>
						<button id="settledBtn">Settled</button>
					</div>
					
				</div>

				<h3 class="documentsP">Documents</h3>

				<div class="actions-block">
					<div class="docs-block">
						<div class="docTable-block">
							<table id="docsTable">
								<thead>
									<tr>
										<th>Created by</th> <th>Type</th> <th>Status</th> <th>Confirmation</th> <th></th>
									</tr>
								</thead>
								<tbody id="table-docs"></tbody>
							</table>
						</div>

						<div class="docsUpload-block">
							<div class="docsInside-block">
								<form id="uploadForm" action="#">
									<div class="fileWrapper"> <span class="fileName">Click to upload Document</span>
										<input type="file" name="file" id="uploadDocs" accept="image/x-png,image/jpeg,application/pdf">
									</div>
									<select id="docsSelect">
										<option value="" selected></option>
										<option value="Payment proof">Payment proof</option>
										<option value="ID">ID</option>
										<option value="Utility Bill">Utility Bill</option>
										<option value="Declaration">Declaration</option>
									</select>
									<button id="uploadBtn">Upload</button>
									
								</form>
							</div>
						</div>
					</div>

					<div class="restButton-block">
						
						
						<button id="declinedBtn">Declined</button>
						<span id="frozenWrapper"><button id="frozenBtn">Frozen</button></span>
						<button id="recallBtn">Recall</button>
					</div>
				</div>

				<h3 class="documentsP">Comments</h3>

				<div class="comments-block">
					<div class="tableComments-block">
						<table id="table-comments">
							<thead>
								<tr>
									<th>Created by</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody id="tableTbody-comments"></tbody>
						</table>
					</div>

					<div class="commentsInside-block">
						<textarea id="commentText" placeholder="Comments to invoice"></textarea>
						<button id="addCommentBtn">Add comment</button>
					</div>
				</div>

			</div>
		</div>

		<!-- Edit Invoice Modal Window -->
		<div class="filterEditIvoice">
			<div class="modalEdit-block">
				<h2>Invoice №<span class="invoceNumber"></span></h2>
				<div class="editDetails-block">
					<div class="invoceDeatails">
						<h3>Transfer details</h3>
						<div>
							<label>Amount requested:</label>
							<input class="detailsInputs editData" type="number" placeholder="Requested">
						</div>
						<div>
							<label>Amount sent:</label>
							<input class="detailsInputs editData" type="number" placeholder="Sent">
						</div>
						<div>
							<label>Type:</label>
							<input class="detailsInputs editData" type="text" placeholder="Type">
						</div>
						<div>
							<label>Currency:</label>
							<select id="editCurrency" class="editData">
								<option value=""></option>
							</select>
						</div>
						<div>
							<label>Bank:</label>
							<select id="editBank" class="editData">
								<option value=""></option>
							</select>
						</div>
						<div>
							<label>Merchant:</label>
							<select id="editMerhcnat" class="editData">
								<option value=""></option>
							</select>
						</div>
						<div>
							<label>Sepa:</label>
							<input id="sepaEdit" type="checkbox" class="editData">
						</div>
					</div>
					<div class="clientDetails">
						<h3>Client details</h4>
						<div>
							<label>Full name:</label>
							<input class="detailsInputs editData" type="text" placeholder="Full name">
						</div>
						<div>
							<label>Email:</label>
							<input class="detailsInputs editData" type="text" placeholder="Email">
						</div>
						<div>
							<label>Phone:</label>
							<input class="detailsInputs editData" type="text" placeholder="Phone">
						</div>
						<div>
							<label>Country:</label>
							<input class="detailsInputs editData" type="text" placeholder="Country">
						</div>
						<div>
							<label>Address:</label>
							<input class="detailsInputs editData" type="text" placeholder="Address">
						</div>
						<div>
							<label>ID number:</label>
							<input class="detailsInputs editData" type="text" placeholder="ID number">
						</div>
					</div>
				</div>
				<button id="saveEditedInvoice-btn">Change</button>
			</div>
		</div>

		<!-- PopUp Window fot Received Status -->
		<div class="receive_Filter">
			<div class="receive_Wrapper">
				<div class="receive_Sent-block">
					<div class="receive_InvoiceNumber">invoice #77</div>
					<div>Sent Amount: <span class="receive_SentAmount">1000$</span> </div>
				</div>

				<label class="receive_amount-label" for="receive_input">Received amount:</label>
				<input id="receive_input" type="number" placeholder="0">
				
				<div class="receive_Remainder">Change amount here, if needed.</div>
				<button id="receive_Submit">Submit</button>
			</div>
		</div>

		<div class="sent_Filter">
			<div class="sent_Wrapper">
				<label for="">Amount Sent:</label>
				<input type="number" id="sent_input">
				<button id="sent_submitBtn">Submit</button>
			</div>
		</div>

		<!-- PopUp Window fot Approved Status -->
		<div class="approved_Filter">
			<div class="approved_Wrapper">
				<div>Invoice Received: <span id="approved_receivedAmount">0€</span> </div>
				<label class="approved_comm_label">Commissions</label>
				<div class="approved_comm_wrapper">
					<div class="approved_comm_block1">
						<div>Anywires fee, <span id="anyFeePercent">0</span>%:</div>
						<div>Anywires fee, <span id="anyFeeSymbol">€</span>:</div>
						<div>Additional fee: <input type="number" min=0 id="inputAdditionalFee" placeholder="0"></div>
						<div>Total:</div>
					</div>
					<div class="approved_comm_line"></div>
					<div class="approved_comm_block2">
						<div id="approved_anyFeePercent">0€</div>
						<div id="approved_anyFeeFlat">0€</div>
						<div id="aprroved_additionalFee">0€</div>
						<div id="approved_total_comm">0€</div>
					</div>
				</div>
				<div class="approved_invoiceAmount_block">Invoice approved amount will be: <span id="approved_amount">0€</span> </div> 
				<button id="approved_button">Approved</button>

				<div class="solution_line"></div>

				<label class="label_solution">Solution Commission</label>
				<div class="solution_Wrapper">
					<div class="solution_item_block1">
						<div class="solution_item">Bank commission: <input type="number" min=0 class="solutionInputs" id="bankCommission" placeholder="0"></div>
						<div class="solution_item">Solution commission, %: <input type="number" min=0 class="solutionInputs" id="solutionCommPercent" placeholder="0"></div>
						<div class="solution_item">Solution commission, <span id="anyFeeSymbol">€:</span> <input type="number" class="solutionInputs" id="solutionCommFlat" placeholder="0"></div>
					</div>
					<div class="solution_item_block2">
						<div class="solution_item">Total solution comm: <span id="totalSolution">0</span> </div>
						<div class="solution_item">Left from transfer: <span id="leftFromTransfer">0</span> </div>
					</div>
				</div>
			</div>
		</div>

		<!-- Alert Window -->
		<div class="alert_filter">
			<div class="alert_wrapper bounceIn">
				<div class="alert_head">
					<img id="alert_image" src="../img/alert_img.png" alt="Alert image">
				</div>
				<div class="alert_body">
					<h2>Oops...</h2>
					<p id="alert_body_text">You can't do that!</p>
				</div>
				<div class="alert_footer">
					<button id="alert_button">OK</button>
				</div>
			</div>
		</div>


		<!-- Recall Window -->
		<div class="recall_filter">
			<div class="recall_wrapper">
				<h3>Recall Commissions</h2>
				<div class="recall_block">
					<div class="recall_item">
						<label for="">Fine recall, %</label>
						<input id="finePercent" type="number" placeholder="0">
					</div>
					<div class="recall_item">
						<label for="">Fine recall, flat</label>
						<input id="fineFlat" type="number" placeholder="0">
					</div>
					<div class="recall_item">
						<label for="">Fine recall, add</label>
						<input id="fineAdd" type="number" placeholder="0">
					</div>
				</div>
				<button id="recallSubmit_btn">Recall</button>
			</div>
		</div>

		<script src="js/authorizationMenu.js"></script>
		<script src="./js/invoice-list.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script src="js/menu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>