<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Anywires" />
    <meta name="keywords" content="Anywires" />
    <meta name="author" content="Anywires" />
    <title>Invoice List</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link type="text/css" rel="stylesheet" href="css/invoiceList.css">
    <script src="https://kit.fontawesome.com/5355902e87.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/menu.css" />
    <link rel="stylesheet" type="text/css" href="css/menu-comp.css" />
    <script src="js/modernizr.custom.js"></script>
</head>
<body>
        <header>
                <div class="menu">
                        <ul id="gn-menu" class="gn-menu-main">
                            <li class="gn-trigger">
                                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                                <nav class="gn-menu-wrapper">
                                    <div class="gn-scroller">
                                        <ul class="gn-menu">
                                            <li><a href='personal-area.html'><img class="icon" src="fonts/icons/personal-area.png">Personal Area</a></li>
                                            <li><a href="dashBoardMainPage.html"><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
                                            <li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
                                            <li><a href="invoice-list.html"><img class="icon" src="fonts/icons/invoice-list.png">Invoice list</a></li>
                                            <li><a href="wallets.html"><img class="icon" src="fonts/icons/wallet.png">Wallets</a></li>
                                            <li><a href="settlements.html"><img class="icon" src="fonts/icons/settlement.png">Settlements</a></li>
                                            <li><a href="merchants.html"><img class="icon" src="fonts/icons/merchant.png">Merchants</a></li>
                                            <li><a href='users.html'><img class="icon" src="fonts/icons/users.png">Users</a></li>
                                            <li><a href='banks.html'><img class="icon" src="fonts/icons/bank.png">Banks</a></li>
                                            <li id="reports"><a><img class="icon" src="fonts/icons/invoice-report.png">Reports</a></li>
                                            <ul class="gn-submenu" id="allReports">
                                                <li><a href="invoice-report.html"><img class="icon" src="fonts/icons/aff-report.png">Invoices report</a></li>
                                                <li><a href="merchantReport.html"><img class="icon" src="fonts/icons/aff-report.png">Merchants report</a></li>
                                                <li><a href="settlementReport.html"><img class="icon" src="fonts/icons/aff-report.png">Settlements report</a></li>
                                                <li><a href="affiliateReport.html"><img class="icon" src="fonts/icons/aff-report.png">Affiliates report</a></li>
                                            </ul>
                                            <li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </li>
                        </ul>
                    </div>
            </header>

    <h1>Invoices List</h1>
    <div class="tableInvoiceLIST">
        <table class="table">
            <thead>
                <tr class="tableInvoiceListHead">
                    <th class="column column0">Client's full name</th>
                    <th class="column column1">Client's address</th>
                    <th class="column column2">Client's country</th>
                    <th class="column column3">Client's phone</th>
                    <th class="column column4">Client's email</th>
                    <th class="column column5">Amount to Transfer</th>
                    <th class="column column6">Currency</th>
                    <th class="column column7">SEPA</th>
                    <th class="column column8">Merch</th>
                    <th class="column column9">Bank</th>
                </tr>
            </thead>
            <tbody class="tableList"></tbody>
        </table>
    </div>
    <script src="js/invoiceList.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/gnmenu.js"></script>
    <script src="js/menu.js"></script>
    <script>
        new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>
</body>
</html>