<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Anywires" />
    <meta name="keywords" content="Anywires" />
    <meta name="author" content="Anywires" />
    <title>Invoice Generation</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/invoiceGeneration.css">
    <script src="https://kit.fontawesome.com/5355902e87.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <a class="backToMain" href='/dashBoardMainPage.html'><span>
        <i class="fas fa-arrow-left"></i>Back</span></a>
    <div class="invoiceGenerationPage">
        <div class="logo">
            <img src="img/logocompany.png" alt="Client Logo">
        </div>
        <h1 class="fillTitle">Fill to make an Invoice</h1>
        <hr>
        <div class="invoiceInfoBlock">
            <form  action="/invoices/<%= currentUser.fullname %>/<%= currentUser._id %>" class="invoice-form" method="POST">
                <input type="text" name="name" placeholder="Client's full name">
                <input type="text" name="address" placeholder="Client's address">
                <input type="text" name="country" placeholder="Client's country">
                <input type="text" name="phone" placeholder="Client's phone">
                <input type="text" name="email" placeholder="Client's email">
                <div class="amountCurrency">
                    <input class="currencyInput" type="text"  name="amount" placeholder="Amount to Transfer">
                    <select name="currency" class="currency">
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
                <div class="SEPA">
                    <input type="checkbox" name="sepa">
                    <span>SEPA</span>
                </div>
                <div class="merchChoose">
                    <label for="merchList">Merch</label>
                    <select id="merchList"  name="merch">
                        <option  value=""></option>
                    </select>
                </div>
                <div class="bankChoose">
                    <label for="bankList">Bank</label>
                    <select id="bankList"  name="bank">
                        <option value=""></option>
                    </select>
                </div>
                <input class='invoiceBtn' type="submit" value='Make an Invoice' >
            </form>
        </div>
    </div>
    <script src="js/invoiceGeneration.js"></script>
</body>
</html>