<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Anywires" />
    <meta name="keywords" content="Anywires" />
    <meta name="author" content="Anywires" />
    <title>Invoice Generation</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/invoiceGeneration.css">
    <script src="https://kit.fontawesome.com/5355902e87.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/sweetalert2.css">
</head>
<body>
    <span class="curentUserRole hide"><%= currentUser.role %></span>
    <span class="curentUserId hide"><%= currentUser.id %></span>
    <span class="currentUserMerchant hide"><%= currentUser.merchant %></span>
    <!-- Modal Action Window -->
		<% if(error && error.length > 0) {%>
			<div class="alert" role="alert">
				<div class="alertContent">
					<h3>  <%= error %> </h3>
				</div>
			</div>
		<% } %>
		<% if(success && success.length > 0) {%>
			<div class="alert" role="alert">
				<div class="alertContent">
					<h3>  <%= success %> </h3>
				</div>
			</div>
        <% } %>
        
    <a class="backToMain" href='/dashBoardMainPage.html'><span>
        <i class="fas fa-arrow-left"></i>Back</span></a>
    <div class="invoiceGenerationPage">
        <div class="logo">
            <img src="img/logocompany.png" alt="Client Logo">
        </div>
        <h1 class="fillTitle">Fill to make an Invoice</h1>
        <hr>
        <div class="invoiceInfoBlock">
            <form  action="/invoices/<%= currentUser.fullname %>/<%= currentUser._id %>/<%= currentUser.merchant %>" class="invoice-form" method="POST">
                <input type="text" name="name" placeholder="Client's full name"  class="nameInput" required>
                <input type="text" name="address" placeholder="Client's address"  class="addressInput" required>
                <input type="text" name="country" placeholder="Client's country"  class="countryInput" required>
                <input type="text" name="phone" placeholder="Client's phone"  class="phoneInput" required>
                <input type="email" name="email" placeholder="Client's email"  class="emailInput" required>
                <div class="amountCurrency">
                    <input class="currencyInput" type="number"  name="amount" placeholder="Amount to Transfer" required>
                    <select name="currency" class="currency">
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
                <div class="SEPA">
                    <input type="checkbox" name="sepa">
                    <span>SEPA</span>
                </div>
                <input class='invoiceBtn' type="submit" value='Make an Invoice' >
                <% if (currentUser.typeClass === 'admin') { %>
                    <div class="merchChoose">
                        <label for="merchList">Merch</label>
                        <select id="merchList"  name="merch" required>
                            <option  value=""></option>
                        </select>
                    </div>
                    <div class="bankChoose">
                        <label for="bankList">Bank</label>
                        <select id="bankList"  name="bank" required>
                            <option value=""></option>
                        </select>
                    </div>
                <% } else if(currentUser.merchant.length !== 1 && currentUser.typeClass !== 'admin') { %>
                    <div class="merchChoose">
                        <label for="merchList">Merch</label>
                        <select id="merchList"  name="merch" required>
                            <option  value=""></option>
                        </select>
                    </div> 
               
                <% } else { %>
                    <select id="merchList" class="hide" name="merch" required>
                       
                    </select>
                <% }%>
            </form>
        </div>
    </div>
    <script src="js/invoiceGeneration.js"></script>
    <script type="text/javascript" src="js/sweetalert2.js"></script>
    
</body>
</html>