<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/x-icon">
    <title>Contract Preview</title>
    <link rel="stylesheet" type="text/css" href="css/invoiceContract.css" />
</head>
<body>
    <button class="downloadPDFbtn" onclick="SaveAsPdf()">Download PDF</button>
    
    <div id="HTMLtoPDF">
    <div class="contractContent">
        <h1>Financial Education SERVICES  CONTRACT #<span class="invNum"><%= invoiceNumber %></span></h1>
        <div class="paragraph">
           <span class="invDate"><%= invoiceDate.getDate() + '/' + ( invoiceDate.getMonth()+ 1) + '/' +  invoiceDate.getFullYear(); %></span> 
           <span><strong>by and between</strong></span>
        </div>
        <div class="paragraph">
            <p>Company: <span class="bankBenefName"><%= invBankBenefName %></span>, 
                with its principal place of business at: <span class="bankBenefAddress"><%= bankBenefAddress %></span>,
                business URL:  <span class="bankSite"><%= bankSite %></span> on one hand</p>
        </div>
        <div class="paragraph">
            <span><strong>and</strong></span>
            <span>Name: <span class="invClientName"><%= invClientName %></span></span>
            <span>Email: <span class="invClientEmail"><%= invClientEmail %></span></span>
            <span>Residential address: <span class="invClientAdress"><%= invClientAdress %></span></span>
        </div>
        <div class="paragraph">
                <span><strong>Assignments</strong></span>
                <p>
                    1.1. Under the terms and conditions hereof the Customer 
                    shall assign the Contractor to render providing Online 
                    Financial Education services (hereinafter as the “Services”)
                     and undertake to pay for the Services rendered by the 
                     Contractor. The Contractor agrees to render respective 
                     Services in compliance with the assignments of the Customer,
                      which can be rendered in verbal and written forms, under the
                       terms and conditions hereof. 
                </p>
        </div>
        <div class="paragraph">
                <span><strong>Contractor’s Obligations</strong></span>
                <p>
                    2.1. To render the Services in accordance herewith and in compliance with the applicable performance requirements for the Services.
                    <br><br>
                    2.2. To render the Services in accordance with the provisions hereof on the regular basis.
                    <br><br>
                    2.3. To adhere to the Customer’s instructions regarding to the performance of the Services in accordance with the provisions hereof.
                    <br><br>
                    2.4. To provide the Customer with relevant information and explanation upon his request from time to time for the purpose of ascertaining the performance of the obligations by the Contractor hereunder.
                    <br><br>
                    2.5. To notify the Customer promptly in writing   or verbally of any event, which may prevent the Contractor from performing his obligations hereunder.
                    <br><br>
                    2.6. To perform the Services in accordance with all regulatory requirements applicable to such Services from time to time.
                    <br><br>
                    2.7. The Contractor will be fully responsible for ensuring the complete and   successful rendering of the Services on the regular basis by any of its employees and will be responsible before the Customer for their performance and rendering of the Services.
                </p>
        </div>
        <div class="paragraph">
            <span><strong>Customer's Obligations</strong></span>
            <p>
                3.1. The Customer shall pay the Remuneration to the Contractor for the Services rendered on time and in full in accordance with Art. 4 hereof.
                <br><br>
                3.2. The Customer shall provide the Contractor with all the source data and /or materials for rendering of the Services,   if such data are required for rendering of the Services by the Contractor.
                <br><br>
                3.3. The Customer shall sign the Transfer and Acceptance Act received from the Contractor within 3 (three) business days after receipt of such a Transfer and Acceptance Act from the Contractor.
                <br><br>
                3.4. To perform other obligations set forth herein.
            </p>
        </div>
        <div class="paragraph">
            <span><strong>Payment Settlement for the Services</strong></span>
            <p>
                4.1. The Parties have agreed that the Customer shall pay to the Contractor  for the rendered Services the sum of EUR (or USD)  by the cashless settlement to the Contractor's bank account specified herein on the basis of the invoice.
                <br><br>
                4.2. The Customer's obligation in respect of the Remuneration payment shall be dully performed upon crediting of the amount of Remuneration specified in the invoice to the Contractor's bank account indicated herein.
            </p>
        </div>
        <div class="paragraph">
            <span><strong>Confidentiality</strong></span>
            <p>
                5.1. Any information provided by one Party to the other Party hereunder shall be deemed as the Confidential Information.
                <br><br>
                5.2. Each Party shall protect any Confidential Information from disclosure on the regular basis and shall not use or disclose it, unless otherwise is required by law, statutes or governmental regulations (in such an event the disclosing Party shall promptly notify the other Party of such a requirement to perform this obligatory condition).
                <br><br>
                5.3. Throughout the term hereof, as well as after its cancellation, termination or voidance, the Contractor will secure any written and/or verbal information received from the Customer as top confidential.
                <br><br>
                5.4. In this Section the title “Confidential Information” shall deem any information being exchanged between the Parties in respect hereof, except for:
                <br><br>
                5.4.1. Such information is or becomes public   except for the information, which has been disclosed directly or indirectly as a result of the breach hereof; or
                <br><br>
                5.4.2. The recipient can confirm that  he received the information from sources, which  are not responsible for its non-disclosure.
            </p>
        </div>
        <div class="paragraph">
            <span><strong>Force Majeure</strong></span>
            <p>
                6.1. The Contractor shall not be responsible for a failure or delay in the performance of any Service to the extent that any such failure or delay is due to an event beyond the reasonable control of the Contractor such as: act of God or terrorist act, war, government acts or regulations, fire, flood, embargo, quarantine, radical pressure group actions, epidemics, accidents, unusually severe weather or other natural phenomena, or failure beyond the reasonable control of the Contractor of electrical power, heat, light, air conditioning, communications equipment, Internet connectivity loss or another similar act or event (hereinafter the "Force Majeure").
                <br><br>
                6.2. In the event of Force Majeure the Contractor shall:
                <br><br>
                6.2.1. Immediately notify the Client of such event and foresee its impact on the conditions of rendering of the Services;
                <br><br>
                6.2.2. Take all reasonable efforts to render the most similar service to the service affected by Force Majeure Event as soon as possible; and
                <br><br>
                6.2.3. Keep the Customer aware of all efforts taken to remedy the effects of the Force Majeure Event. 
            </p>
        </div>
        <div class="paragraph">
            <span><strong>Effective Term of the Contract</strong></span>
            <p>
                7.1. This Contract is deemed concluded and comes into effect when signed and officially sealed by the Parties.
                <br><br>
                7.2. The effective term hereof shall commence on the date specified in cl.7.1. hereof and expires on 31st of January, 2020.
                <br><br>
                7.3. The expiration hereof does not exempt the Parties from the responsibility for its breach, which has occurred during the effective term hereof.
                <br><br>
                7.4. Unless otherwise is directly specified herein, the amendments hereto can be made only if   agreed between the Parties and such an agreement is executed with the Supplementary Agreement hereto.
                <br><br>
                7.5. Amendments hereto shall come into effect upon duly execution of the Supplementary Agreement by the Parties, unless otherwise provided in the Supplementary Agreement and herein.
                <br><br>
                7.6. This Contract can be terminated earlier by either Party under condition of prior notifying of the other party in writing within 15 calendar days before the initiated termination date.
                <br><br>
                7.7. This Contract shall be deemed terminated before the term upon duly execution of the Supplementary Contract hereto by the Parties, unless otherwise provided in the Supplementary Agreement and herein.
            </p>
        </div>

        <div class="footer">
            <h4>Details of the Parties</h4>
            <div class="footerConteriner">
                <div class="contractorInfo">
                    <h4>CONTRACTOR</h4>
                    <span>Company: <span class="bankBenefName"><%= invBankBenefName %></span></span>
                    <span>Company registered address: <span class="bankBenefAddress"><%= bankBenefAddress %></span></span>
                </div>
                <div class="customerInfo">
                        <h4>CUSTOMER</h4>
                        <span>Customer name: <span class="invClientName"><%= invClientName %></span></span>
                        <span>Customer registered email: <span class="invClientEmail"><%= invClientEmail %></span></span>
                    </div>
            </div>
        </div>
    </div>
    </div>

    <script src="js/invoiceContract.js"></script>
    <script src="./js/jquery-2.1.3.js"></script>
</body>
</html>