<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Invoice List</title>
		<meta name="description" content="Anywires" />
		<meta name="keywords" content="Anywires" />
		<meta name="author" content="Anywires" />
		<link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/invoice-list.css" />
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
		<link rel="stylesheet" type="text/css" href="css/menu-comp.css" />
		<link rel="stylesheet" type="text/css" href="css/invoice-list-table.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="js/modernizr.custom.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/b1090e9fd1.js"></script>
		<!-- For Calendar Inputs -->
		<link rel="stylesheet" href="./css/datepicker.min.css">
		<script src="./js/datepicker.min.js"></script>
		<script src="./js/datepicker.en.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
	</head>
	<body>
		<div id="burgerMenu">
			<div class="menu">
				<ul id="gn-menu" class="gn-menu-main">
					<li class="gn-trigger">
						<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
						<nav class="gn-menu-wrapper">
							<div class="gn-scroller">
								<ul class="gn-menu">
									<li><a href='personal-area.html'><img class="icon" src="fonts/icons/personal-area.png">Personal Area</a></li>
									<li><a href='dashBoardMainPage.html'><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
									<li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
									<li><a href="invoice-list.html"><img class="icon" src="fonts/icons/invoice-list.png">Invoice list</a></li>
									<li><a><img class="icon" src="fonts/icons/invoice-report.png">Invoice Report</a></li>
									<li><a href="wallets.html"><img class="icon" src="fonts/icons/wallet.png">Wallets</a></li>
                                    <li><a href="settlements.html"><img class="icon" src="fonts/icons/settlement.png">Settlements</a></li>
                                    <li><a href="merchants.html"><img class="icon" src="fonts/icons/merchant.png">Merchants</a></li>
                                    <li><a href='users.html'><img class="icon" src="fonts/icons/users.png">Users</a></li>
                                    <li><a href='banks.html'><img class="icon" src="fonts/icons/bank.png">Banks</a></li>
                                    <li><a href='affiliateReport.html'><img class="icon" src="fonts/icons/aff-report.png">Affiliate report</a></li>
                                    <li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
										</ul>
									</li>
								</ul>
							</div><!-- /gn-scroller -->
						</nav>
					</li>
				</ul>
		</div><!-- /container -->

		<div id="wrapper">

			<!--Header Page-->
			<header> 
				<img src="./img/bill.png" alt="icon page"/>
				<h1>Invoice List</h1>
			</header>
			
			<!--Main Page-->
			<main>
				<div id="table-block">

					<div class="filterBlock-first">

						<div class="byCreation-block" >
							<label for="byCreation-block">By creation date:</label>
							<input class="dateForm datepicker-here" data-multiple-dates-separator="&nbsp;—&nbsp;" 
																	data-range="true"
																	data-language="en"
																	type="text" 
																	placeholder="Jul 01, 2019 — Aug 01, 2019">
						</div>
						<!--initial-->
						<div class="filterStatus-block">
							<label for="filterStatus-block">Status</label>
							<select id="filterStatus" type="text">
									<option value="" selected></option>
									<option value="Requested">Requested</option>
									<option value="Sent">Sent</option>
									<option value="Received">Received</option>
									<option value="Declined">Declined</option>
							</select>
						</div>

						<div class="filterBank-block">
							<label for="filterBank-block">Bank</label>
							<select id="filterBank" type="text">
									<option value="" selected></option>
									<option value="AnyWires Bank">AnyWires Bank</option>
									<option value="BNP Poland (EUR) VTK">BNP Poland (EUR) VTK</option>
									<option value="DE Transferwise FinEdu EUR">DE Transferwise FinEdu EUR</option>
							</select>
						</div>
						
					</div>

					<div class="filterBlock-second">

						<div class="byReceive-block">
							<label for="byReceive-block">By receive date:</label>
							<input class="dateForm datepicker-here" data-multiple-dates-separator="&nbsp;—&nbsp;" 
																	data-range="true"
																	data-language="en"
																	type="text" 
																	placeholder="Jul 01, 2019 — Aug 01, 2019">
						</div>

						<div class="filterMerchant-block">
							<label for="filterMerchant-block">Merchant</label>
							<select id="filterMerchant" type="text">
									<option value="" selected></option>
									<option value="CK">CK</option>
									<option value="CPM24">CPM24</option>
									<option value="Popcorn">Popcorn</option>
									<option value="CMP">CMP</option>
									<option value="BU">BU</option>
									<option value="FinixCapital">FinixCapital</option>
							</select>
						</div>

						<div class="filterDocuments-block">
							<label for="filterDocuments-block">Documents</label>
							<select id="filterDocuments" type="text">
									<option value="" selected></option>
									<option value="All verified">All verified</option>
									<option value="Pending verification">Pending verification</option>
									<option value="Without documents">Without documents</option>
							</select>
						</div>

					</div>

					<div class="showClear-block">
						<div>
							<button id="showBtn">Show</button>
							<button id="clearFilterBtn">Clear Filters</button>
						</div>
						<div class="searchBlock">
							<input class="input-search" type="search" placeholder="Search..."/>
							<img class="search-btn" src="./img/magnifying-glass.png" alt="Image Search">
						</div>
					</div>

					<div class="downloadXls-block">
						<img title="Download .xls" id="dowloadXls" src="./img/download.png" alt="arrow right table" width="15px" height="15px"/>
					</div>

					<div class="table-line "></div>

					<div class="invoiceTable">
						<table id="table-user">
							<thead>
								<tr class="table-head">
									<th class="column1">Created</th>
									<th class="column2">Merchant</th>
									<th class="column3">Name</th>
									<th class="column4">Sent</th>
									<th class="column5">Bank Fee</th>
									<th class="column6">Received</th>
									<th class="column7">Bank</th>
									<th class="column8">Available</th>
									<th class="column9">Payment status</th>
									<th class="column10">Documents</th>
									<th class="column11"></th>
									<th class="column12"></th>
								</tr>
							</thead>
							<tbody id="table-list"></tbody>
						</table>
					</div>
				</div>
			</main>
		</div>

		<script src="./js/invoice-list.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>