<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Merchant Report</title>
		<meta name="description" content="Anywires" />
		<meta name="keywords" content="Anywires" />
		<meta name="author" content="Anywires" />
		<!-- Style for Commission Report -->
        <link rel="shortcut icon" href="./img/AnyWiresFavicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/merchant-report.css" />
		<link rel="stylesheet" href="css/newMenu.css">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
		<!-- Other scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="https://kit.fontawesome.com/5355902e87.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<!-- Type of data -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<!-- XLS data -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
		<!-- Date picker -->
		<link rel="stylesheet" href="./css/datepicker.min.css">
		<script src="./js/datepicker.min.js"></script>
		<script src="./js/datepicker.en.js"></script>
	</head>
	<body class="modal-open">
		<span class="curentUserId hide"><%= currentUser.id %></span>
		<div id="burgerMenu">
			<div class="menu">
				<div class="menu__burger">
					<img class="menu__burger-close" src="img/menu/close.png" alt="list image">
					<div class="menu__burger-symbols">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
		
				<ul class="menu__list">
					<a class="menu__list-link" href="dashBoardMainPage.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/1-Dashboard.png" alt="list image">
							<span class="menu__list-text">Dashboard</span>
						</li>
					</a>
					<a class="menu__list-link" href="InvoiceGeneration.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/2-Invoice.png" alt="list image">
							<span class="menu__list-text">Invoice generation</span>
						</li>
					</a>
					<a class="menu__list-link" href="invoice-list.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/3-Invoices.png" alt="list image">
							<span class="menu__list-text">Invoice List</span>
						</li>
					</a>
					<a class="menu__list-link" href="wallets">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/4-Wallet.png" alt="list image">
							<span class="menu__list-text">Wallets</span>
						</li>
					</a>
					<a class="menu__list-link" href="settlements.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/5-Settlement.png" alt="list image">
							<span class="menu__list-text">Settlemets</span>
						</li>
					</a>
					<a class="menu__list-link" href="merchants.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/6-Merchants.png" alt="list image">
							<span class="menu__list-text">Merchants</span>
						</li>
					</a>
					<a class="menu__list-link" href="users.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/7-Users.png" alt="list image">
							<span class="menu__list-text">Users</span>
						</li>
					</a>
					<a class="menu__list-link" href="banks.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/8-Bank.png" alt="list image">
							<span class="menu__list-text">Banks</span>
						</li>
					</a>
					<li class="menu__list-item menu__reports">
						<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
						<span class="menu__list-text">Reports</span>
					</li>
					<div class="menu__list-item-reports">
						<a class="menu__list-link" href="invoice-report.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Invoices report</span>
							</li>
						</a>
						<a class="menu__list-link" href="settlementReport.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Settlements report</span>
							</li>
						</a>
						<a class="menu__list-link" href="affiliateReport.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Affiliates report</span>
							</li>
						</a>
						<a class="menu__list-link" href="commission-report">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Commission report</span>
							</li>
						</a>
					</div>
					<a class="menu__list-link" href="Dashboard-how-it-works.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/10-How-it-works.png" alt="list image">
							<span class="menu__list-text">How it works</span>
						</li>
					</a>
				</ul>
			</div>

			<div class="authorizationMenu">
				<span> 
					<span class="userName"> <%= currentUser.fullname %></span>
					<span class="curentUserRole hide"><%= currentUser.role %></span>
					<span class="userLogo"><i class="far fa-user-circle"></i></span>
				</span>
				<ul class="dropMenu">
					<li class="profile">
						<span class="liLogo"><i class="fas fa-user-alt"></i></span>
						<a href="personal-area.html">Profile</a>
					</li>
					<li class="merchant">
						<span class="liLogo"><i class="fab fa-chromecast"></i></span>
						<a href="merchants.html">Merchant</a>
					</li>
					<li class="logOut">
						<span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
						<a href="/logout/<%= currentUser.id %>">LogOut</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Loading GIF -->
		<div id="loadingGif">
			<img src="img/Gear-2.5s-200px.gif" alt="loading GIF"/>
			<div>Loading...</div>
		</div>
		<!-- Loading GIF -->

		<div id="wrapper">
			<!--Header Page-->
			<header> 
				<div class="header__title">
					<img src="./img/graph-report--v2.png" width="40" height="40" alt="icon page"/>
					<h1>Merchant Report</h1>
				</div>
			</header>
			
			<!--Main Page-->
			<main>
				<div class="containerBlock">
					<div class="filterBlock-first">
						<div class="filterSolution-block">
							<label for="filterSolution-block">Name</label>
							<select id="filterName" type="text">
									<option value="" selected></option>
							</select>
						</div>

						<div class="filterCountry-block">
							<label for="filterCountry-block">Date</label>
							<input class="filterInput dateForm datepicker-here" id="creationDate" data-multiple-dates-separator="&nbsp;—&nbsp;" 
																	data-range="true"
																	data-language="en"
																	type="text" 
																	placeholder="Sep 1, 2019 — Dec 1, 2019">
						</div>
					</div>
				</div>

				<div id="createUser-block">
					<div>
						<button id="showFilterBtn">Show</button>
						<button id="clearFilterBtn">Clear Filter</button>
					</div>
				</div>

				<div id="tableUser-block">
					<div class="tableUser-header">
						<h2>MERCHANT LIST</h2>
						<div class="table-arrows">
							<img id="dowloadPdf" src="./img/download.png" alt="arrow right table" width="15px" height="15px"/>
						</div>
						<div class="xlsTip fadeInUp">
							<p>Download .xls</p>
						</div>
					</div>

					<div class="table-line "></div>

					<div class="test">
						<table id="table_commission">
							<thead>
								<tr class="table-head">
									<th class="column1">Name</th>
									<th class="column2">Users</th>
									<th class="column3">Invoices</th>
									<th class="column4">Available EUR</th>
									<th class="column5">Available USD</th>
									<th class="column6">Wallets</th>
								</tr>
							</thead>
							<tbody id="table-list"></tbody>
						</table>
					</div>
					<div class="nextPage-block"></div>
				</div>
			</main>
		</div>
		
		<script src="js/merchant-report.js"></script>
		<script src="js/authorizationMenu.js"></script>
		<script src="js/newMenu.js"></script>
	</body>
</html>