<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Merchants List</title>
		<meta name="description" content="Anywires" />
		<meta name="keywords" content="Anywires" />
		<meta name="author" content="Anywires" />
		<link rel="shortcut icon" href="./img/AnyWiresFavicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/merchants.css" />
		<link rel="stylesheet" href="css/newMenu.css">
		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
		
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
		<script src="https://kit.fontawesome.com/5355902e87.js"></script>
	<body class="modal-open">
		<span class="curentUserId hide"><%= currentUser.id %></span>

		<div id="burgerMenu">
			<div class="menu">
				<div class="menu__burger">
					<img class="menu__burger-close" src="img/menu/close.png" alt="list image">
					<div class="menu__burger-symbols">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
		
				<ul class="menu__list">
					<a class="menu__list-link" href="dashBoardMainPage.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/1-Dashboard.png" alt="list image">
							<span class="menu__list-text">Dashboard</span>
						</li>
					</a>
					<a class="menu__list-link" href="InvoiceGeneration.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/2-Invoice.png" alt="list image">
							<span class="menu__list-text">Invoice generation</span>
						</li>
					</a>
					<a class="menu__list-link" href="invoice-list.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/3-Invoices.png" alt="list image">
							<span class="menu__list-text">Invoice List</span>
						</li>
					</a>
					<a class="menu__list-link" href="wallets">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/4-Wallet.png" alt="list image">
							<span class="menu__list-text">Wallets</span>
						</li>
					</a>
					<a class="menu__list-link" href="settlements.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/5-Settlement.png" alt="list image">
							<span class="menu__list-text">Settlemets</span>
						</li>
					</a>
					<a class="menu__list-link" href="users.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/7-Users.png" alt="list image">
							<span class="menu__list-text">Users</span>
						</li>
					</a>
					<a class="menu__list-link" href="banks.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/8-Bank.png" alt="list image">
							<span class="menu__list-text">Banks</span>
						</li>
					</a>
					<li class="menu__list-item menu__reports">
						<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
						<span class="menu__list-text">Reports</span>
					</li>
					<div class="menu__list-item-reports">
						<a class="menu__list-link" href="invoice-report.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Invoices report</span>
							</li>
						</a>
						<a class="menu__list-link" href="settlementReport.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Settlements report</span>
							</li>
						</a>
						<a class="menu__list-link" href="affiliateReport.html">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Affiliates report</span>
							</li>
						</a>
						<a class="menu__list-link" href="commission-report">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Commission report</span>
							</li>
						</a>
						<a class="menu__list-link" href="merchant-report">
							<li class="menu__list-item">
								<img class="menu__list-logo" src="img/menu/9-Reports.png" alt="list image">
								<span class="menu__list-text">Merchant report</span>
							</li>
						</a>
					</div>
					<a class="menu__list-link" href="Dashboard-how-it-works.html">
						<li class="menu__list-item">
							<img class="menu__list-logo" src="img/menu/10-How-it-works.png" alt="list image">
							<span class="menu__list-text">How it works</span>
						</li>
					</a>
				</ul>
			</div>
			
			<div class="authorizationMenu">
				<span> 
					<span class="userName"> <%= currentUser.fullname %></span>
					<span class="userLogo"><i class="far fa-user-circle"></i></span>
				</span>
				<ul class="dropMenu">
					<li class="profile">
						<span class="liLogo"><i class="fas fa-user-alt"></i></span>
						<a href="personal-area.html">Profile</a>
					</li>
					<li class="merchant">
						<span class="liLogo"><i class="fab fa-chromecast"></i></span>
						<a href="merchants.html">Merchant</a>
					</li>
					<li class="logOut">
						<span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
						<a href="/logout/<%= currentUser.id %>">LogOut</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Loading GIF -->
		<div id="loadingGif">
			<img src="img/Gear-2.5s-200px.gif" alt="loading GIF"/>
			<div>Loading...</div>
		</div>
		<!-- Loading GIF -->

		<div id="wrapper">
				<span class="currentUser"><%= currentUser.fullname %></span>
				<span class="curentUserRole"><%= currentUser.role %></span>

			<!--Header Page-->
			<header> 
				<div class="header__title">
					<img src="./img/merchants-logo.png" alt="icon page" width="40px" height="40px"/>
					<h1>Merchants</h1>
				</div>
			</header>
			
			<!--Main Page-->
			<main>
				<div id="create-block">
					<button id="create-button">Add new Merchant</button> 
					<div class="search-block">
						<input id="search-input" type="search" placeholder="Search..."/>
						<img id="search-button" src="./img/magnifying-glass.png" alt="search button"/>
					</div>
				</div>

				<div id="table-block">
					<div class="table-header">
						<h2>All Merchants List</h2>
						<img title="Download .xls" id="dowloadXls" src="./img/download.png" alt="arrow right table" width="15px" height="15px"/>
					</div>

					<div class="table-line "></div>

					<div class="test">
						<table id="merchants-table">
							<thead>
								<tr class="table-head">
									<th class="column1">Name</th>
									<th class="column2">Created By</th>
									<th class="column3">Promo</th>
									<th class="column4">Aff</th>
									<th class="column5">In, %</th>
									<th class="column6">Received</th>
									<th class="column7">Approved</th>
									<th class="column8">Available</th>
									<th class="column9"></th>
								</tr>
							</thead>
							<tbody id="table-list"></tbody>
						</table>
					</div>
					<div class="nextPage-block"></div>
				</div>
			</main>
		</div>

		<!-- Create Wallet START -->
		<div class="createWallet__filter">
			<div class="createWallet__body">
				<h3 class="createWallet__title">CREATE WALLET</h3>
				<h4 class="createWallet__merchant">Merchant</h4>
				<div class="createWallet__main">
					<div class="createWallet__main--block">
						<div class="createWallet__main--block-item">
							<label>Wallet name:</label>
							<input class="createWallet__required createWallet__input" type="text" id="walletName" placeholder="Wallet name">
						</div>
						<div class="createWallet__main--block-item">
							<label>Beneficiary name:</label>
							<input class="createWallet__input" type="text" id="walletBenefName" placeholder="Beneficiary name">
						</div>
						<div class="createWallet__main--block-item">
							<label>Beneficiary address:</label>
							<input class="createWallet__input" type="text" id="walletBenefAddress" placeholder="Beneficiary address">
						</div>
						<div class="createWallet__main--block-item">
							<label>Bank name:</label>
							<input class="createWallet__input" type="text" id="walletBankName" placeholder="Bank name">
						</div>
						<div class="createWallet__main--block-item">
							<label>Currency:</label>
							<select class="createWallet__required createWallet__select" id="walletCurrency">
								<option value="" selected></option>
								<option value="USD">USD</option>
								<option value="EUR">EUR</option>
							</select>
						</div>
					</div>
					<div class="createWallet__main--block">
						<div class="createWallet__main--block-item">
							<label>Bank address:</label>
							<input class="createWallet__input" type="text" id="walletBankAddress" placeholder="Bank address">
						</div>
						<div class="createWallet__main--block-item">
							<label>Account number:</label>
							<input class="createWallet__input" type="text" id="walletAccountNum" placeholder="Account number">
						</div>
						<div class="createWallet__main--block-item">
							<label>IBAN:</label>
							<input class="createWallet__input" type="text" id="walletIBAN" placeholder="IBAN">
						</div>
						<div class="createWallet__main--block-item">
							<label>SWIFT:</label>
							<input class="createWallet__input" type="text" id="walletSWIFT" placeholder="SWIFT">
						</div>
						<div class="createWallet__main--block-item">
							<label>Type:</label>
							<select class="createWallet__required createWallet__select" id="walletType">
								<option value="" selected></option>
								<option value="Wire">Wire</option>
								<option value="BTC">BTC</option>
								<option value="Anywires">Anywires</option>
							</select>
						</div>
					</div>
				</div>
				<button class="createWallet__button-create">Create</button>
			</div>
		</div>
		<!-- Create Wallet END -->

		<!-- Alert Window -->
		<div class="alert_filter">
			<div class="alert_wrapper bounceIn">
				<div class="alert_head">
					<img id="alert_image" src="../img/alert_img.png" alt="Alert image">
				</div>
				<div class="alert_body">
					<h2>Oops...</h2>
					<p id="alert_body_text">You can't do that!</p>
				</div>
				<div class="alert_footer">
					<button id="alert_button">OK</button>
				</div>
			</div>
		</div>
		<!-- Alert Window  END-->

		<script src="js/authorizationMenu.js"></script>
		<script src="./js/merchants.js"></script>
		<script src="js/newMenu.js"></script>
	</body>
</html>