<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Personal Area</title>
		<link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
		<meta name="description" content="Anywires" />
		<meta name="keywords" content="Anywires" />
		<meta name="author" content="Anywires" />
		<link rel="stylesheet" type="text/css" href="css/menu-norm.css" />
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
		<link rel="stylesheet" type="text/css" href="css/menu-comp.css" />
		<link rel="stylesheet" href="css/personal-area_styles.css">
		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div id="burgerMenu">
		<div class="menu">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a><img class="icon" src="fonts/icons/personal-area.png">Personal Area</a></li>
								<li><a href='dashBoardMainPage.html'><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
								<li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
								<li><a href="invoice-list.html"><img class="icon" src="fonts/icons/invoice-list.png">Invoice list</a></li>
								<li><a href="invoice-report.html"><img class="icon" src="fonts/icons/invoice-report.png">Invoice Report</a></li>
								<li><a href="wallets.html"><img class="icon" src="fonts/icons/wallet.png">Wallets</a></li>
								<li><a href="settlements.html"><img class="icon" src="fonts/icons/settlement.png">Settlements</a></li>
								<li><a href="merchants.html"><img class="icon" src="fonts/icons/merchant.png">Merchants</a></li>
								<li><a href='users.html'><img class="icon" src="fonts/icons/users.png">Users</a></li>
								<li><a href='banks.html'><img class="icon" src="fonts/icons/bank.png">Banks</a></li>
								<li><a href='affiliateReport.html'><img class="icon" src="fonts/icons/aff-report.png">Affiliate report</a></li>
								<li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
								
									</ul>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
			</ul>
		</div><!-- /container -->

		<div id="wrapper">

			<!--Header Page-->
			<header> 
				<h1>Personal Area</h1>
			</header>
			
			<!--Block Logo-->
			<div id="block-logo">
				<img class="main-logo" src="img/seo-1.svg" alt="Personal Area Logo"/>
				<p class="personal-name">AW_Technical</p>
				<p class="necessary-action">Please reset your Temporary password before start using system.</p>
			</div>
	
			<!--Main Block-->
			<main>
				<div class="main-content-blocks">
	
					<div class="info-blocks">
						<p class="description-info">Profile name:</p>
						<p class="person-info" class="description-info">AW_Technical</p>
						<div class="profile_line"></div>
					</div>
	
					<div class="info-blocks">
							<p class="description-info">Email:</p>
							<p class="person-info">m.clime@brokers.expert</p>
							<div class="profile_line"></div>
					</div>
					
	
				</div>
	
				<div class="main-content-blocks">
	
					<div class="info-blocks">
						<p class="description-info">Role is:</p>
						<p class="person-info">New</p>
						<div class="profile_line"></div>
					</div>
	
					<div class="info-blocks">
							<p class="description-info">Registered on:</p>
							<p class="person-info">Mar 26, 2019 7:10 pm</p>
							<div class="profile_line"></div>
					</div>
	
				</div>

				<div class="main-content-blocks last-item">
	
					<div class="info-blocks">
						<p class="person-info preson-info-merchants">You're working with Merchants:</p>
						<div class="profile_line"></div>
						<p  class="description-info">Merchant 1</p>
						<p  class="description-info">Merchant 2</p>
						<p  class="description-info">Merchant 3</p>
					</div>
	
				</div>
			</main>
	
			<footer>
				<button class="button-reset">Reset password</button>
			</footer>
	
		</div>
	
		<!--Modal Windows-->
		<div class="modal-reset">
			<p align="center">To change your password please type old password here and then your new password.</p>
				<input id="input_oldPassword" placeholder="Old Password" type="password" minlength="8" maxlength="16" size="8" pattern="[0-9a-fA-F]?=.{8,}"/> 
				<input id="input_newPassword" placeholder="New Password" type="password" minlength="8" maxlength="16" size="8" pattern="[0-9a-fA-F]?=.{8,}"/> 
				<div class="show_password">
					<span id="showPass"><input id="showPassInput" type="checkbox"><span id="checkerInput">Show password</span></span>
				</div>
	
			<div class="buttons-reset-block">
				<button class="change-password-btn">Change password</button>
				<button class="send-link-btn">Send reset link</button>
			</div>
		</div>

		<!--Final Modal Windows-->
		<div id="container">
			<p>Your password successfully has been changed!</p>
		</div>
	
		<script src="js/presonal-area_main.js"></script>	
		<script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>