<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anywires</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/resetPassword.css">
</head>
<body>
    <div class="popup">
        <div class="popup-dialog">
            <div class="popup-content">
                <img src="img/logocompany.png" alt="Anywires logo" class="logo">
                
                <div class="main-form popup-form">
                    <form  action="/forgotPassword" class="popup-form" method="POST">
                        <div class="inputSection">
                            <label for="newPassword">New Password</label>
                            <input type="password" name="newPassword" id="newPassword" placeholder="Type here...">
                        </div>
                        <div class="inputSection">
                            <label for="confirmPass">Confirm Password</label>
                            <input type="password" name="confirmPass" id="confirmPass" placeholder="Type here...">
                        </div>
                        
                        <input type="submit" class="sendInvoice" value="Update password">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>