<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Anywires" />
    <meta name="keywords" content="Anywires" />
    <meta name="author" content="Anywires" />
    <title>Settlement Preview</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/settlementPreview.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <button class="downloadPDFbtn" onclick="HTMLtoPDF()">Download PDF</button>
<div id="HTMLtoPDF">   
    <div class="header">

        <img src="img/logocompany.png" alt="AnyWires logo company" class="logo">

        <div class="settleInfo">
            <h1 class="mainTitle">Settlement</h1>
            <span class="settleDate"><strong>Settlement date:</strong> Apr 19, 2019</span>
            <span class="settleNumber"><strong>Settlement num:</strong> 54400</span>
            <span class="settleFor"><strong>Settlement for:</strong> CMP24</span>
            <span class="settleState"><strong>Status:</strong> Received</span>
        </div>
        <div class="settleRecInfo">
            <span class="settleWallet"><strong>Settlement Wallet:</strong> MisterTango LT</span>
            <span class="settleIBAN"><strong>IBAN:</strong> LT453510000016700232</span>
            <span class="settleBenName"><strong>Beneficiary name:</strong> CMP24 LTD</span>
            <span class="settleBenAdd"><strong>Beneficiary Address:</strong> trust cc, Ajeltakeroad, 
                Ajeltakeisland Marshall Islands Majuro MH96960</span>
        </div>
    </div>

    <div class="tableTransList">
        <h3 class="tableTitle">Transfers List</h3>
        <table class="table">
            <thead>
                <tr class="tableTransListHead">
                    <th class="column0">#</th>
                    <th class="column1">Client's Name</th>
                    <th class="column2">Received</th>
                    <th class="column3">Fee</th>
                    <th class="column4">Approved</th>
                </tr>
            </thead>
            <tbody class="tableList">
                <tr class="row">
                    <th class="column0">661</th>
                    <th class="column1">GIULIO GAGLIARDO</th>
                    <th class="column2">€1 400</th>
                    <th class="column3">€98</th>
                    <th class="column4">€1 302</th>
                </tr>
                <tr class="row">
                    <th class="column0">698</th>
                    <th class="column1">Giacomino Vitali</th>
                    <th class="column2">€25 000</th>
                    <th class="column3">€1 750</th>
                    <th class="column4">€23 250</th>
                </tr>
                <tr class="row">
                    <th class="column0">738</th>
                    <th class="column1">Antonio Neri</th>
                    <th class="column2">€20 000</th>
                    <th class="column3">€1 400</th>
                    <th class="column4">€18 600</th>
                </tr>
                <tr class="row">
                    <th class="column0">760</th>
                    <th class="column1">Raffaella Graglia</th>
                    <th class="column2">€5 000</th>
                    <th class="column3">€385</th>
                    <th class="column4">€5 115</th>
                </tr>
                <tr class="row">
                    <th class="column0">761</th>
                    <th class="column1">Andrea Bartollucci</th>
                    <th class="column2">€500</th>
                    <th class="column3">€35</th>
                    <th class="column4">€465</th>
                </tr>
                <tr class="totalSumRow">
                        <th class="column0"></th>
                        <th class="column1"></th>
                        <th class="column2">€52 400</th>
                        <th class="column3"></th>
                        <th class="column4">€48 732</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="servCommission">
        <h3 class="tableTitle">Service Commissions</h3>
        <table class="table">
            <thead>
                <tr class="tableTransListHead">
                    <th class="column0">Commission</th>
                    <th class="column1">Price</th>
                </tr>
            </thead>
            <tbody class="tableList">
                <tr class="row">
                    <th class="column0">B2C Transfer 2000 EUR for client Camillo Pasquini</th>
                    <th class="column1">€2 000</th>
                </tr>
                <tr class="row">
                    <th class="column0">Commission for B2C Transfer 2000 EUR for client Camillo Pasquini (5% + 100 EUR)</th>
                    <th class="column1">€200</th>
                </tr>
                <tr class="totalSumRow">
                    <th class="column0"></th>
                    <th class="column1">€2 200</th>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <hr>
        <p class="footerInfo">
            AnyWires <br>
            +44 787 144 1243<br>wire@anywires.com<br>
            42b Haymarket Terrace, Edinburgh, EH12 5LA, United Kingdom
        </p>
    </footer>
</div>

    <script src="js/jquery-2.1.3.js"></script>
    <script src="js/jspdf.js"></script>
    <script src="js/pdfFromHTML.js"></script>
    
</body>
</html>