<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Anywires" />
    <meta name="keywords" content="Anywires" />
    <meta name="author" content="Anywires" />
    <title>Settlement Preview</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/settlementPreview.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <button class="downloadPDFbtn" onclick="SaveAsPdf()">Download PDF</button>
 
   <!-- Loading GIF -->
    <div class="loadingGif hide">
        <img src="img/Gear-2.5s-200px.gif" alt="loading GIF"/>
        <div>Loading...</div>
    </div>
    <!-- Loading GIF -->   

    <div id="HTMLtoPDF">   
    <div class="header">

        <img src="img/logocompany.png" alt="AnyWires logo company" class="logo">

        <div class="settleInfo">
            <h1 class="mainTitle">Settlement</h1>
            <p><strong>Settlement date: </strong><span class="settleDate"> <%= settleDate.getDate() + '/' + ( settleDate.getMonth()+ 1) + '/' +  settleDate.getFullYear(); %></span></p>
            <p><strong>Settlement num: </strong><span class="settleNumber"> <%= settleNumber %></span></p>
            <p><strong>Settlement for: </strong><span class="settleFor"> <%= settleFor %></span></p>
            <p class="settleStateP"><strong>Status: </strong><span class="settleState"> <%= settleState %></span></p>
        </div>
        <div class="settleRecInfo">
            <p><strong>Settlement Wallet: </strong><span class="settleWallet"> <%= settleWallet %></span></p>
            <p><strong>IBAN: </strong><span class="settleIBAN"> <%= settleIBAN %></span></p>
            <p><strong>Beneficiary name: </strong><span class="settleBenName"> <%= settleBenName %></span></p>
            <p><strong>Beneficiary Address: </strong><span class="settleBenAdd"> <%= settleBenAdd %></span></p>
        </div>
    </div>

    <div class="tableTransList">
        <h3 class="tableTitle">Transfers List</h3>
        <table class="table">
            <thead>
                <tr class="tableTransListHead">
                    <th class="column0">#</th>
                    <th class="column1">Client's Name</th>
                    <th class="column2">Received</th>
                    <th class="column3">Fee</th>
                    <th class="column4">Approved</th>
                </tr>
            </thead>
            <tbody class="tableList">
                    <%- table %>
            </tbody>
        </table>
    </div>
    <div class="servCommission">
        <h3 class="tableTitle">Service Commissions</h3>
        <table class="table">
            <thead>
                <tr class="tableTransListHead">
                    <th class="column0">Commission</th>
                    <th class="column1">Price</th>
                </tr>
            </thead>
            <tbody class="tableList">
                    <%- commissionTable %>
            </tbody>
        </table>
    </div>

    <div class="totalSum-div">
        Total: <span class="totalSum"> <%= TOTAL %></span>
    </div>

    <footer>
        <hr>
        <p class="footerInfo">
            AnyWires <br>
            +44 787 144 1243<br>wire@anywires.com<br>
            42b Haymarket Terrace, Edinburgh, EH12 5LA, United Kingdom
        </p>
    </footer>
</div>

    <script src="js/jquery-2.1.3.js"></script>
    <script src="js/settlementPreview.js"></script>
</body>
</html>