<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anywires</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/registerForm.css">
    <script src="https://kit.fontawesome.com/5355902e87.js"></script>
</head>
<body>

    <div class="popup">
        <div class="popup-dialog">
            <div class="popup-content">
                <img src="img/logocompany.png" alt="Anywires logo" class="logo">
                
                <div class="main-form popup-form">
                    <h3 class="congrtTitile">User successfully created!</h3>
                    <a href='/'> Back to the main page</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>