<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Users</title>
		<meta name="description" content="Anywires" />
		<meta name="keywords" content="Anywires" />
		<meta name="author" content="Anywires" />
		<link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
		<link rel="stylesheet" type="text/css" href="css/users.css" />
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
		<link rel="stylesheet" type="text/css" href="css/menu-comp.css" />
		<link rel="stylesheet" type="text/css" href="css/users-table.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
		<script src="https://unpkg.com/jspdf-autotable@3.1.4/dist/jspdf.plugin.autotable.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="https://kit.fontawesome.com/b1090e9fd1.js"></script>
	</head>
	<body>
		<div id="burgerMenu">
			<div class="menu">
				<ul id="gn-menu" class="gn-menu-main">
					<li class="gn-trigger">
						<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
						<nav class="gn-menu-wrapper">
							<div class="gn-scroller">
								<ul class="gn-menu">
									<li><a href='personal-area.html'><img class="icon" src="fonts/icons/personal-area.png">Personal Area</a></li>
									<li><a href='dashBoardMainPage.html'><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
									<li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
									<li><a href="invoice-list.html"><img class="icon" src="fonts/icons/invoice-list.png">Invoice list</a></li>
									<li><a href="invoice-report.html"><img class="icon" src="fonts/icons/invoice-report.png">Invoice Report</a></li>
									<li><a href="wallets.html"><img class="icon" src="fonts/icons/wallet.png">Wallets</a></li>
									<li><a href="settlements.html"><img class="icon" src="fonts/icons/settlement.png">Settlements</a></li>
									<li><a href="merchants.html"><img class="icon" src="fonts/icons/merchant.png">Merchants</a></li>
									<li><a><img class="icon" src="fonts/icons/users.png">Users</a></li>
									<li><a href='banks.html'><img class="icon" src="fonts/icons/bank.png">Banks</a></li>
									<li><a href='affiliateReport.html'><img class="icon" src="fonts/icons/aff-report.png">Affiliate report</a></li>
									<li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
									
										</ul>
									</li>
								</ul>
							</div><!-- /gn-scroller -->
						</nav>
					</li>
				</ul>
		</div><!-- /container -->

		<div id="wrapper">

			<!--Header Page-->
			<header> 
				<img src="./img/group.png" alt="icon page" width="40px" height="40px"/>
				<h1>Users</h1>
			</header>
			
			<!--Main Page-->
			<main>
				<div class="containerBlock">
					<div class="filterBlock-first">
							<div class="byCreation-block" >
								<label for="byCreation-block">Last login date:</label>
								<input class="dateForm datepicker-here" data-multiple-dates-separator="—" 
																		data-range="true"
																		data-language="en"
																		type="text" 
																		placeholder="Jul 01, 2019 — Aug 01, 2019">
							</div>

							<div class="filterStatus-block">
								<label for="filterStatus-block">Mechant</label>
								<select id="filterStatus" type="text">
										<option value="" selected></option>
										<option value="Requested">Requested</option>
										<option value="Sent">Sent</option>
										<option value="Received">Received</option>
										<option value="Declined">Declined</option>
								</select>
							</div>
	
							<div class="filterBank-block">
								<label for="filterBank-block">Role</label>
								<select id="filterBank" type="text">
										<option value="" selected></option>
										<option value="AnyWires Bank">AnyWires Bank</option>
										<option value="BNP Poland (EUR) VTK">BNP Poland (EUR) VTK</option>
										<option value="DE Transferwise FinEdu EUR">DE Transferwise FinEdu EUR</option>
								</select>
							</div>
						</div>
				
						<div class="search-block">
							<input id="search-input" type="search" placeholder="Search..."/>
							<img id="search-button" src="./img/magnifying-glass.png" alt="search button"/>
						</div>
				</div>

					<div id="createUser-block">
						<div>
							<button id="showBtn">Show</button>
							<button id="clearFilterBtn">Clear Filter</button>
						</div>
						<button id="createUser-button">Create User</button>
					</div>

				<div id="tableUser-block">
					<div class="tableUser-header">
						<h2>LIST OF USERS</h2>
						<div class="table-arrows">
							<img src="./img/left-arrow.png" alt="arrow left table" width="15px" height="15px"/> 
							<img id="nextList" src="./img/right-arrow.png" alt="arrow right table" width="15px" height="15px"/>
							<img title="Download .pdf" id="dowloadPdf" src="./img/download.png" alt="arrow right table" width="15px" height="15px"/>
						</div>
					</div>

					<div class="table-line "></div>

					<div class="test">
						<table id="table-user">
							<thead>
								<tr class="table-head">
									<th class="column1">Name
														<span class="sortUp"><i class=" fas fa-sort-alpha-down-alt"></i></span>
														<span class="sortDown"><i class="fas fa-sort-alpha-down"></i></span>
									</th>
									<th class="column2">Email
														<span class="sortUp"><i class=" fas fa-sort-alpha-down-alt"></i></span>
														<span class="sortDown"><i class="fas fa-sort-alpha-down"></i></span>
														
									</th>
									<th class="column3">Merchant
														<span class="sortUp"><i class=" fas fa-sort-alpha-down-alt"></i></span>
														<span class="sortDown"><i class="fas fa-sort-alpha-down"></i></span>
														
									</th>
									<th class="column4">Role
														<span class="sortUp"><i class=" fas fa-sort-alpha-down-alt"></i></span>
														<span class="sortDown"><i class="fas fa-sort-alpha-down"></i></span>
									</th>
									<th class="column5">Last login date</th>
								</tr>
							</thead>
							<tbody id="table-list"></tbody>
						</table>
					</div>
						
					
				</div>

			</main>
			
	
		</div>

		<!-- Modal Window "Create User" -->
		<div id="modal-createUser" class="slide-top">
			<div>
				Name: <input class="modal-InputName" type="text" placeholder="Enter your name"/>
				Email: <input class="modal-InputEmail" type="text" placeholder="Enter your Email"/>
			</div>
			<div>
				Merchant: <input class="modal-InputMer" type="text" placeholder="Merchant"/>
				Role: <input class="modal-InputRole" type="text" placeholder="Role"/>
			</div>
			<button id="saveUser-btn">Create</button>
		</div>
		
		<script src="./js/users.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>