<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Wallets</title>
		<meta name="description" content="Anywires" />
		<meta name="keywords" content="Anywires" />
		<meta name="author" content="Anywires" />
		<link rel="shortcut icon" href="./img/AnyWiresFavicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/wallets.css" />
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
		<link rel="stylesheet" type="text/css" href="css/menu-comp.css" />
		<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
		<script src="https://kit.fontawesome.com/5355902e87.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	</head>
	<body class="modal-open">
			<% if (currentUser.role == 'Invoice Manager') { %>
				<div id="burgerMenu">
						<div class="menu">
							<ul id="gn-menu" class="gn-menu-main">
								<li class="gn-trigger">
									<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
									<nav class="gn-menu-wrapper">
										<div class="gn-scroller">
											<ul class="gn-menu">
													<li><a href='personal-area.html'><img class="icon" src="fonts/icons/personal-area.png">Personal Area</a></li>
													<li><a href="dashBoardMainPage.html"><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
													<li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
													<li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</nav>
								</li>
							</ul>
				
							<div class="authorizationMenu">
								<span> 
									<span class="userName"> <%= currentUser.fullname %></span>
									<span class="userLogo"><i class="far fa-user-circle"></i></span>
								</span>
								<ul class="dropMenu">
									<li class="profile">
										<span class="liLogo"><i class="fas fa-user-alt"></i></span>
										<a href="personal-area.html">Profile</a>
									</li>
									<li class="merchant">
										<span class="liLogo"><i class="fab fa-chromecast"></i></span>
										<a href="merchants.html">Merchant</a>
									</li>
									<li class="logOut">
										<span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
										<a href="/logout">LogOut</a>
									</li>
								</ul>
							</div>
						</div>
			<% } else if (currentUser.role == 'Solution Manager') { %>
				<div id="burgerMenu">
						<div class="menu">
							<ul id="gn-menu" class="gn-menu-main">
								<li class="gn-trigger">
									<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
									<nav class="gn-menu-wrapper">
										<div class="gn-scroller">
											<ul class="gn-menu">
												<li><a href='personal-area.html'><img class="icon" src="fonts/icons/personal-area.png">Personal Area</a></li>
												<li><a href='banks.html'><img class="icon" src="fonts/icons/bank.png">Banks</a></li>
												<li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</nav>
								</li>
							</ul>
				
							<div class="authorizationMenu">
								<span> 
									<span class="userName"> <%= currentUser.fullname %></span>
									<span class="userLogo"><i class="far fa-user-circle"></i></span>
								</span>
								<ul class="dropMenu">
									<li class="profile">
										<span class="liLogo"><i class="fas fa-user-alt"></i></span>
										<a href="personal-area.html">Profile</a>
									</li>
									<li class="merchant">
										<span class="liLogo"><i class="fab fa-chromecast"></i></span>
										<a href="merchants.html">Merchant</a>
									</li>
									<li class="logOut">
										<span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
										<a href="/logout">LogOut</a>
									</li>
								</ul>
							</div>
						</div>
			<% } else { %>
		<div id="burgerMenu">
			<div class="menu">
				<ul id="gn-menu" class="gn-menu-main">
					<li class="gn-trigger">
						<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
						<nav class="gn-menu-wrapper">
							<div class="gn-scroller">
								<ul class="gn-menu">
									<li><a href="dashBoardMainPage.html"><img class="icon" src="fonts/icons/dashboard.png">Dashboard</a></li>
									<li><a href='InvoiceGeneration.html'><img class="icon" src="fonts/icons/invoice.png">Invoice generation</a></li>
									<li><a href="invoice-list.html"><img class="icon" src="fonts/icons/invoice-list.png">Invoice list</a></li>
									<li><a href="wallets"><img class="icon" src="fonts/icons/wallet.png">Wallets</a></li>
									<li><a href="settlements.html"><img class="icon" src="fonts/icons/settlement.png">Settlements</a></li>
									<li><a href="merchants.html"><img class="icon" src="fonts/icons/merchant.png">Merchants</a></li>
									<li><a href='users.html'><img class="icon" src="fonts/icons/users.png">Users</a></li>
									<li><a href='banks.html'><img class="icon" src="fonts/icons/bank.png">Banks</a></li>
									<li id="reports"><a><img class="icon" src="fonts/icons/invoice-report.png">Reports</a></li>
									<ul class="gn-submenu" id="allReports">
										<li><a href="invoice-report.html"><img class="icon" src="fonts/icons/aff-report.png">Invoices report</a></li>
										<li><a href="merchantReport.html"><img class="icon" src="fonts/icons/aff-report.png">Merchants report</a></li>
										<li><a href="settlementReport.html"><img class="icon" src="fonts/icons/aff-report.png">Settlements report</a></li>
										<li><a href="affiliateReport.html"><img class="icon" src="fonts/icons/aff-report.png">Affiliates report</a></li>
										<li><a href="commission-report"><img class="icon" src="fonts/icons/aff-report.png">Commission report</a></li>
									</ul>
									<li><a href='Dashboard-how-it-works.html'><img class="icon" src="fonts/icons/info.png">How it works</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
					</li>
				</ul>
	
				<div class="authorizationMenu">
					<span> 
						<span class="userName"> <%= currentUser.fullname %></span>
						<span class="userLogo"><i class="far fa-user-circle"></i></span>
					</span>
					<ul class="dropMenu">
						<li class="profile">
							<span class="liLogo"><i class="fas fa-user-alt"></i></span>
							<a href="personal-area.html">Profile</a>
						</li>
						<li class="merchant">
							<span class="liLogo"><i class="fab fa-chromecast"></i></span>
							<a href="merchants.html">Merchant</a>
						</li>
						<li class="logOut">
							<span class="liLogo"><i class="fas fa-sign-out-alt"></i></span>
							<a href="/logout">LogOut</a>
						</li>
					</ul>
				</div>
			</div><!-- /container -->
			<% } %>

			<!-- Loading GIF -->
			<div id="loadingGif">
				<img src="img/Gear-2.5s-200px.gif" alt="loading GIF"/>
				<div>Loading...</div>
			</div>
			<!-- Loading GIF -->
		<div id="wrapper">

			<!--Header Page-->
			<header> 
				<img src="./img/wallet.png" alt="icon page" width="40px" height="40px"/>
				<h1>Wallets</h1>
			</header>
			
			<!--Main Page-->
			<main>
                <div class="containerBlock">
                    <div class="filterBlock-first">
                        <div class="filterType-block">
                            <label for="filterType-block">Type:</label>
                            <select id="filterType" type="text">
									<option value="" selected></option>
									<option value="Wire">Wire</option>
									<option value="BTC">BTC</option>
									<option value="Anywires">Anywires</option>
                            </select>
                        </div>

                        <div class="filterMerchant-block">
                            <label for="filterMerchant-block">Merchant:</label>
                            <select id="filterMerchant" type="text">
									<option value="" selected></option>
                            </select>
                        </div>
                    </div>
            
                    <div class="search-block">
                        <input id="search-input" type="search" placeholder="Search..."/>
                        <img id="search-button" src="./img/magnifying-glass.png" alt="search button"/>
                    </div>
                </div>

					<div id="createUser-block">
						<div>
							<button id="showBtn">Show</button>
							<button id="clearFilterBtn">Clear Filter</button>
						</div>
						<button id="createBank-button">Create Wallet</button>
					</div>

				<div id="tableUser-block">
					<div class="tableUser-header">
						<h2>WALLETS LIST</h2>
						<div class="table-arrows">
							<img title="Download .pdf" id="dowloadPdf" src="./img/download.png" alt="arrow right table" width="15px" height="15px"/>
						</div>
					</div>

					<div class="table-line "></div>

					<div class="test">
						<table id="table_wallets">
							<thead>
								<tr class="table-head">
									<th class="column1">Creation date</th>
									<th class="column2">Name</th>
									<th class="column3">Type</th>
									<th class="column4">Balance</th>
									<th class="column5">Currency</th>
									<th class="column6">Merchant</th>
									<th class="column7"></th>
								</tr>
							</thead>
							<tbody id="table-list"></tbody>
						</table>
					</div>
					<div class="nextPage-block"></div>
				</div>
			</main>
		</div>

		<!-- Edit Wallet PopUp Window -->
		<div class="filter_editWallet">
			<div class="editWallet_wrapper">
				<h3 class="editWallet_title">EDIT WALLET</h3>
				<div class="editWallet_main">
					<div class="editWallet_block">
						<div class="editWallet_item">
							<label>Wallet name:</label>
							<input class="requiredEdit" type="text" id="walletName" placeholder="Wallet name">
						</div>
						<div class="editWallet_item">
							<label>Beneficiary name:</label>
							<input class="requiredEdit" type="text" id="benefName" placeholder="Beneficiary name">
						</div>
						<div class="editWallet_item">
							<label>Beneficiary address:</label>
							<input class="requiredEdit" type="text" id="benefAddress" placeholder="Beneficiary address">
						</div>
						<div class="editWallet_item">
							<label>Bank name:</label>
							<input class="requiredEdit" type="text" id="bankName" placeholder="Bank name">
						</div>
					</div>
					<div class="editWallet_block">
						<div class="editWallet_item">
							<label>Bank address:</label>
							<input class="requiredEdit" type="text" id="bankAddress" placeholder="Bank address">
						</div>
						<div class="editWallet_item">
							<label>Account number:</label>
							<input class="requiredEdit" type="text" id="accountNum" placeholder="Account number">
						</div>
						<div class="editWallet_item">
							<label>IBAN:</label>
							<input class="requiredEdit" type="text" id="IBAN" placeholder="IBAN">
						</div>
						<div class="editWallet_item">
							<label>SWIFT:</label>
							<input class="requiredEdit" type="text" id="SWIFT" placeholder="SWIFT">
						</div>
					</div>
				</div>
				<!-- Create Wallet START -->
				<div class="createWallet_main">
					<div class="createWallet_block">
						<div class="createWallet_item">
							<label>Merchant:</label>
							<select class="requiredCreate" id="merchant">
								<option value="" selected></option>
							</select>
						</div>
						<div class="createWallet_item">
							<label>Currency:</label>
							<select class="requiredCreate" id="currency">
								<option value="" selected></option>
								<option value="USD">USD</option>
								<option value="EUR">EUR</option>
							</select>
						</div>
					</div>
					<div class="createWallet_block">
						<div class="createWallet_item">
							<label>Type:</label>
							<select class="requiredCreate" id="type">
								<option value="" selected></option>
								<option value="Wire">Wire</option>
								<option value="BTC">BTC</option>
								<option value="AW Wallet">AW Wallet</option>
							</select>
						</div>
					</div>
				</div>
				<!-- Create Wallet END -->
				<button id="editWallet_action">Edit</button>
			</div>
		</div>
		<!-- Edit Wallet END -->

		<!-- Alert Window -->
		<div class="alert_filter">
			<div class="alert_wrapper bounceIn">
				<div class="alert_head">
					<img id="alert_image" src="../img/alert_img.png" alt="Alert image">
				</div>
				<div class="alert_body">
					<h2>Oops...</h2>
					<p id="alert_body_text">You can't do that!</p>
				</div>
				<div class="alert_footer">
					<button id="alert_button">OK</button>
				</div>
			</div>
		</div>
		<!-- Alert Window  END-->
		
		<script src="js/authorizationMenu.js"></script>
		<script src="./js/wallets.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script src="js/menu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>