header {
    display: flex;
    justify-content: space-between;
    background:  #FFF;
}

.authorizationMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px; 
    font-size: 20px;
    color: #555;
}

.userLogo{
    padding-left: 10px;
    font-size: 30px;
    color:  rgb(34, 218, 95);
}

.userName {
    position: relative;
}
.dropMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 80px;
    top: 50px;
    font-size: 20px;
    background:  #FFF;
    list-style-type: none;
}

.dropMenu li {
    margin: 5px 0;
    width: 120%;
    background:  #FFF;
}

.dropMenu li:hover {
    background:  #EEF3FA;
}

.dropMenu li a {
   margin: 0 10px;
   text-decoration: none;
   color: #555;
}

.liLogo {
    margin: 0 10px;
    padding-left: 10px;
    font-size: 28px;
}

@media (max-width: 500px){

    .authorizationMenu {
        margin-right: 30px; 
        font-size: 14px;
    }
    
    .userLogo{
        padding-left: 5px;
        font-size: 18px;
    }
    
    .dropMenu {
        font-size: 14px;
    }

    .liLogo {
        margin: 0 5px;
        padding-left: 5px;
        font-size: 18px;
    }
}