*{
    margin:0;
    padding:0;
    border:0;
    }
    
    /* width */
    ::-webkit-scrollbar {
    width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F1F4F6;
        font-family: 'Frank Ruhl Libre', serif;
    }
    
    body button {
        cursor: pointer;
        background-color: rgb(77, 77, 77);
        border: none;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 1;
        border-radius: 3px;
        outline: none;
        transition: .35s;
        font-family: 'Frank Ruhl Libre', serif;
    }
    body button:hover {
        background-color: rgb(143, 143, 143);
    }
    body button:active {
        background-color: #12C7B2;
    }
    
#burgerMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background:  #FFF;
}

.authorizationMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px; 
    font-size: 20px;
    color: #555;
}

.userLogo{
    padding-left: 10px;
    font-size: 30px;
    color:  rgb(34, 218, 95);
}

.dropMenu {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 50px;
    top: 60px;
    font-size: 20px;
    background:  #FFF;
    list-style-type: none;
}

.dropMenu li {
    margin: 5px 0;
}

.dropMenu li:hover {
    background:  #EEF3FA;
}

.dropMenu li a {
   margin: 0 10px;
   text-decoration: none;
   color: #555;
}

.liLogo {
    margin: 0 10px;
    padding-left: 10px;
    font-size: 28px;
}
    
    /* Animations */
    @keyframes slideInTop{
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0, 0);
        }
    }
    .slide-top{
        animation: .3s slideInTop ease-in-out 1;
    }


/* Loading GIF */
#loadingGif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: .7;
    z-index: 1000;
}

#loadingGif img {
    width: 50px;
    height: 50px;
}

#loadingGif div {
    font-size: 24px;
    color: white;
}

.modal-open {
    overflow: hidden;
}
/* Loading GIF */
    
    
    
    /* Wrapper */
    #wrapper {
        width: 100%;
    }
    
    .opacityWrapper {
        opacity: .2;
    }
    
    /* Header */
    header {
        display: flex;
        width: 100%;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 30px 0 30px 70px;
        margin-top: 2px;
    }
    header img {
        margin-right: 15px;
    }
    
    
    /* Main */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 800px;
        background-color: rgb(255, 255, 255);
        padding: 30px 0 30px 30px;
        margin-top: 2px;
    }
    
    /* MinMax-block */
    .minMax-block {
        width: 90%;
        margin: 20px 0; 
        display: flex;
        align-items: flex-end;
    }
    
    .filterMin-block, .filterMax-block {
        width: 200px;
        margin-right: 20px;
    }
    
    .filterEnable-block {
        width: 95px;
    }
    
    .filterSepa-block {
        width: 95px;
        margin-right: 10px;
    }
    
    
    /* Filter Block First START*/
    
    #filterMin, #filterMax, #filterSepa, #filterEnable, #filterSolution, #filterCurrency, #filterCountry {
        width: 100%;
        height: 40px;
        border: 1px solid rgb(189, 189, 189);
        cursor: pointer;
        border-radius: 3px;
        font-size: 15px;
        font-family: 'Frank Ruhl Libre', serif;
        background-color: #F5F5F5;
        margin-top: 5px;
        text-indent: 15px;
    }
    
    option {
        font-size: 16px;
        background-color: rgb(255, 255, 255);
    }
    
    label {
        font-weight: bold;
    }
    
    .filterBlock-first {
        width: 80%;
        display: flex;
        align-items: flex-end;
    }
    
    .filterSolution-block {
        width: 200px;
        margin-right: 20px;
    }
    
    .filterCurrency-block {
        width: 200px;
        margin-right: 20px;
    }
    
    .filterCountry-block {
        width: 200px;
    }
    /* Filter Block First END*/
    
    /* Create User and Search area */
    .containerBlock {
        width: 90%;
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    
    #createUser-block {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    
    #createBank-button {
        width: 140px;
        height: 40px;  
    }
    
    #clearFilterBtn, #showBtn {
        width: 115px;
        height: 40px;
    }
    
    #search-input {
        width: 100%;
        height: 40px;
        background-color: #4D4D4D;
        border-radius: 3px 0 0 3px;
        font-size: 16px;
        padding: 5px 15px;
        transition: .3s;
        outline: none;
        border: none;
        color: #FFF;
        font-family: 'Frank Ruhl Libre', serif;
    }
    
    #search-input::placeholder{
        color: rgb(224, 224, 224);
    }
    
    #search-input:focus {
        box-shadow: 0px 0px 6px 0px rgba(68, 68, 68, 0.75);
        background-color: rgb(110, 110, 110);
    }
    
    .search-block {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 250px;
    }
    
    #search-button {
        width: 40px;
        height: 40px;
        padding: 12px;
        background-color: rgb(54, 54, 54);
        cursor: pointer;
        border-radius: 0px 3px 3px 0px;
    }
    #search-button:hover {
        background-color: rgb(0, 0, 0);
    }
    #search-button:active {
        background-color: rgb(139, 139, 139);
    }
    
    /* Table, list of Users */
    #tableUser-block {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 40px 0;
    }
    
    .tableUser-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0;
    }
    
    .table-arrows img {
        margin-left: 20px;
        cursor: pointer;
    }
    .table-arrows img:hover{
        filter: invert(75%);
    }
    .table-arrows img:active{
        filter: invert(95%);
    }
    
    .tableUser-header h2 {
        font-size: 20px;
    }
    
    .table-line {
        margin: 10px 0;
        width: 100%;
        height: 2px;
        background-color: rgb(102, 102, 102);
    }
    
    
    
    /* Modal Block */
    .filter {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 100;
    }
    
    .modal-Addbank {
        background: rgb(255, 255, 255);
        width: 1000px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: fixed;
        border-radius: 3px;
        z-index: 120;
    }
    
    .containerModal {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    #createBankModal-btn {
        width: 140px;
        height: 45px;
    }
    
    .firstModal-block {
        width: 45%;
    }
    
    .secondModal-block {
        width: 45%;
    }
    
    .bankName-block, .beneficiaryName-block, .solutionName-block, .bankCountry-block, .bankCurrency-block, .benefAdress-block, 
    .maxWire-block, .minWire-block, .SWIFT-block, .companySite-block, .bankAdress-block, .stopLimit-block, .registrationNo-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .sepaAvailable-block {
        width: 100%;
        display: flex;
        margin-bottom: 15px;
    }
    
    .B2B-block {
        width: 100%;
        display: flex;
        margin-bottom: 15px;
    }
    
    .IBAN-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .description-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .uploadBank-block {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    } 
    
    #uploadLogo-btn {
        width: 240px;
        height: 40px;
        background-color: #12C7B2;
    }
    
    .description-block textarea {
        border: 1px solid rgb(122, 122, 122);
        width: 240px;
        height: 95px;
        padding: 5px;
        border-radius: 3px;
        font-family: 'Frank Ruhl Libre', serif;
    }
    
    .firstModal-block input {
        border: 1px solid rgb(122, 122, 122);
        width: 240px;
        height: 40px;
        border-radius: 3px;
        padding: 5px;
        font-family: 'Frank Ruhl Libre', serif;
    }
    
    .secondModal-input {
        border: 1px solid rgb(122, 122, 122);
        width: 240px;
        height: 40px;
        border-radius: 3px;
        padding: 5px;
        font-family: 'Frank Ruhl Libre', serif;
    }
    
    .bankCurrency-block select {
        border: 1px solid rgb(122, 122, 122);
        width: 240px;
        height: 40px;
        border-radius: 3px;
    }
    
    .sepaCheckbox {
        width: 190px;
        height: 20px;
    }
    
    .b2bcheckbox {
        width: 337px;
        height: 20px;
    }

    /* Next Page Block */

.nextPage-block {
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 20px;
}

.nextPage-btn {
    width: 30px;
    height: 30px;
    background-color: inherit;
    border: 1px solid #20A5F7;
    border-radius: 0;
    margin-right: 2px;
    color: black;
}

.nextPage-btn:hover {
    background-color: #20A5F7;
    color: white;
}

.dotts {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 40px;
    color: #4D4D4D;
}

.highlight {
    background-color: #20A5F7;
    color: white;
}
    
    
    
    /* Animations */
    @keyframes slideInTop{
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0, 0);
        }
    }
    .slide-top{
        animation: .5s slideInTop ease-in-out 1;
    }
    
    
    /* Media */
    @media screen and (max-width: 1015px) {
        header {
            padding: 20px 0 20px 30px;
        }
        header img {
            width: 30px;
            height: 30px;
        }
        header h1 {
            font-size: 28px;
        }
        main {
            padding: 30px 0 30px 0px;
        }
    
        .filterMin-block, .filterMax-block, .filterSolution-block, .filterCurrency-block {
            margin-right: 15px;
        }
    
        .filterMin-block, .filterMax-block, .filterSolution-block, .filterCurrency-block, .filterCountry-block {
            width: 170px;
        }
    
        .filterEnable-block, .filterSepa-block {
            width:80px;
        }
    
        .minMax-block, .containerBlock, #createUser-block, #tableUser-block {
            width: 95%;
        }
    
        .search-block {
            width: 220px;
        }
    
        #createBank-button {
            width: 120px;
        } 
    
        #showBtn, #clearFilterBtn {
            width: 100px;
        }
    }
    
    
    @media screen and (max-width: 795px) {
        .containerBlock {
            flex-direction: column;
            margin-bottom: 15px;
        }
    
        .minMax-block {
            margin: 15px 0;
            margin-top: 0;
        }
    
        .filterBlock-first {
            width: 100%;
        }
    
        .search-block {
            margin-top: 15px;
            width: 220px;
            margin-left: auto;
        }
    }
    
    @media screen and (max-width: 565px) {
        .filterMin-block, .filterMax-block, .filterSolution-block, .filterCurrency-block, .filterCountry-block {
            width: 130px;
        }
    
        .filterEnable-block, .filterSepa-block {
            width:60px;
        }
    
        .search-block {
            width: 200px;
        }
    
        select {
            height: 35px;
        }
    
        label {
            font-size: 14px;
        }
    
        #search-input {
            height: 35px;
        }
    
        #search-button {
            width: 35px;
            height: 35px;
            padding: 10px;
        }
    
        #createBank-button {
            width: 110px;
            height: 35px;
        } 
    
        #showBtn, #clearFilterBtn {
            height: 35px;
            width: 90px;
        }
    }
    
    .hide {
        display: none;
    }