*{
    margin:0;
    padding:0;
    border:0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
    
#burgerMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background:  #FFF;
}


/* Autorization Menu START */
.authorizationMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px; 
    font-size: 20px;
    color: #555;
}

.userLogo{
    padding-left: 10px;
    font-size: 30px;
    color:  rgb(34, 218, 95);
}

.dropMenu {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 50px;
    top: 60px;
    font-size: 20px;
    background:  #FFF;
    list-style-type: none;
    z-index: 100;
}

.dropMenu li {
    margin: 5px 0;
}

.dropMenu li:hover {
    background:  #EEF3FA;
}

.dropMenu li a {
   margin: 0 10px;
   text-decoration: none;
   color: #555;
}

.liLogo {
    margin: 0 10px;
    padding-left: 10px;
    font-size: 28px;
}

/* Autorization Menu END */


/* PopUp Alert START */
.alert_filter {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 500;
}

.alert_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 550px;
    background-color: white;
    padding: 20px;
    z-index: 510;
    border-radius: 5px;;
}

.alert_head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#alert_image {
    width: 100px;
    height: 100px;
}

.alert_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#alert_body_text {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

.alert_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#alert_button {
    width: 100px;
    height: 45px;
    background-color: #12C7B2;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    line-height: 1;
    outline: none;
    transition: .35s;
    font-family: 'Frank Ruhl Libre', serif;
}

#alert_button:hover{
    background-color: #4D4D4D;

}

@keyframes bounceIn{
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}

.bounceIn{
    animation: .5s bounceIn ease-in-out 1;
}

.modal-open {
    overflow: hidden;
}
/* PopUp Alert End */


 /* Loading GIF */
 #loadingGif {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: .7;
    z-index: 1000;
}

#loadingGif img {
    width: 50px;
    height: 50px;
}

#loadingGif div {
    font-size: 24px;
    color: white;
}
 /* Loading GIF */



/* Body START */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F4F6;
    font-family: 'Frank Ruhl Libre', serif;
}
/* Body END */
    

/* Wrapper  START*/
#wrapper {
    width: 100%;
}
/* Wrapper  END*/


/* Header  START*/
header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 0 30px 70px;
    margin-top: 2px;
}
header img {
    margin-right: 15px;
}
/* Header  END*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 800px;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    padding: 20px;
}
/* Main END*/

.modal_addMerch {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 80px;
}

.containerModal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.b2b_true_block {
    display: none;
    justify-content: space-between;
    width: 100%;
}

.firstModal-block {
    width: 45%;
}

.secondModal-block {
    width: 45%;
}

.modal_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.B2B_block {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.upload_block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
} 

#uploadLogo_btn {
    width: 240px;
    height: 40px;
    background-color: #12C7B2;
    cursor: pointer;
    color: rgb(255, 255, 255);
    line-height: 1;
    border-radius: 3px;
    transition: .35s;
    font-family: 'Frank Ruhl Libre', serif;
    position: relative;
    display: flex;
    user-select: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploadLogo_btn:hover{
    background-color: #888;
}

#uploadLogo_btn:active{
    background-color: #12C7B2;
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.firstModal-block input {
    border-bottom: 1.5px solid #20A5F7;
    width: 240px;
    height: 40px;
    padding: 5px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 15px;
}

#affiliate {
    border-bottom: 1.5px solid #20A5F7;
    width: 240px;
    height: 40px;
    padding: 5px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 15px;
}

.secondModal-input {
    border-bottom: 1.5px solid #20A5F7;
    width: 240px;
    height: 40px;
    padding: 5px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 15px;
}

.b2bcheckbox {
    width: 20px;
    height: 20px;
    margin-left: auto;
}


/* Coommission Block */
.comm_wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comm_wrapperNext {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
}

.comm_block{
    width: 45%;
}

.comm_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.border_bottom{
    border-bottom: 1px solid black;
}

.comm_inputs {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80px;
}

.comm_inputs input {
    border-bottom: 1.5px solid #20A5F7;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 15px;
}

.comm_inputs input[type=number]::-webkit-inner-spin-button, 
.comm_inputs input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.comm_title {
    text-align: center;
    margin-bottom: 10px;;
}

#create_merch {
    width: 180px;
    height: 60px;
    background-color: #12C7B2;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    line-height: 1;
    border-radius: 3px;
    outline: none;
    transition: .35s;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    margin-top: 20px;
}

#create_merch:hover{
    background-color: #555;
}

#create_merch:active{
    background-color: #555;
}

#symPercent {
    position: absolute;
    right: 5px;
    top: 10px;
}


/* Multiple Select START */
.filter_select {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 4;
}

.bankList-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;
}

.bankList-block label {
    min-width: 170px;
}

.autocomplete-select {
    width: 100%;
}

.multi-select__select {
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: left;
    min-height: 44px;
    padding: 5px 10px;
    position: relative;
    transition: 0.2s;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1.5px solid #20A5F7;
    background: transparent;
    color: #aaaaaa;
    z-index: 5;
}



/* BLOCK with list all of countries */
.multi-select__options {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    display: none;
    left: 0;
    max-height: 221px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 5;
    overflow-y: scroll;
}

.multi-select__option:hover {
    background-color: #e9e9e9;
}

.multi-select__select--opened .multi-select__options {
    display: block;
}

/* BLOCK with list all of countries */
.multi-select__option {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    height: 44px;
    line-height: 25px;
    padding: 10px;
}

.multi-select__option-active {
    background-color: #59d9d4 !important;
    color: #ffffff;
}

.multi-select__option--selected {
    color: #e4e4e4;
    cursor: initial;
    pointer-events: none;
}

.multi-select__option--hidden {
    display: none;
}

.multi-select__selected-label {
    background: #58d8d3;
    border-radius: 3px;
    color: #fff;
    cursor: initial;
    display: inline-block;
    margin: 5px;
    padding: 3px 7px;
    font-size: 16px;
}

.multi-select__selected-label:last-of-type {
    margin-right: 0;
}

.multi-select__selected-label i {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
}

.multi-select__selected-label i:hover {
    color: #e4e4e4;
}


/* INPUT FOR SEARCHING COUNTRIES */
.multi-select__autocomplete {
    background: #f9f9f8;
    border-bottom: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;
}

.bankList__buttons--block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.bankList__buttons--block button {
    width: 80px;
    margin-left: 15px;
    background-color: #20A5F7;
    cursor: pointer;
    padding: 4px;
    color: #fff;
    border-radius: 3px;
    font-family: 'Frank Ruhl Libre', serif;
    transition: .3s ease-in-out;
    border: none;
    user-select: none;
    outline: none;
}
.bankList__buttons--block button:hover {
    opacity: .7;
}
.bankList__buttons--block button:active {
    background-color: rgb(10, 122, 192);
    opacity: 1;
}
/* Multiple Select END */