.popup {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Helvetica, Arial, serif;
    font-size: 20px;
    font-weight: 700;
    color:  rgb(51, 51, 51);
	
}

.popup-content {
    position: fixed;
	text-align: center;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	background-color: #fff;
    padding: 40px 60px;
}

.popup-form {
    width: 100%;
	margin-top: 30px;
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputSection {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputSection input {
    height: 30px;
    width: 45%;
    border-style: ridge;
    border-radius: 3px;
    padding-left: 10px;
    outline: none;
}

.popup-close {
	position: absolute;
	top: -15px;
	right: -40px;
	width: 50px;
	border: none;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	outline: none;
}

.popup-close:hover {
    transform: scale(1.5);
}

.sendInvoice {
    width: 30%;
    margin-top: 50px;
    background: rgb(51, 51, 51);
    color: #FFF;
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.sendInvoice:hover {
    background: #888;
}

/* Modal Window for Actions */
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 1.2px;
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Helvetica, Arial, serif;
    font-size: 20px;
    font-weight: 700;
    color:  rgb(51, 51, 51);
}

.alertContent {
    position: fixed;
	text-align: center;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	background-color: #fff;
    padding: 40px 60px;
}